<div>
  <div layout="column" flex="100">

    <div class="body-container">
      <div layout="row" layout-xs="column" flex="100">

        <div class="form-column" layout="column" flex="25" flex-xs="100">
          <div class="progress-container">
            <div class="progress-block active">1. Questions</div>
            <div class="progress-block">2. Coverage</div>
            <div class="progress-block">3. Payment</div>
            <div class="progress-block">4. Signature</div>
            <div class="progress-block">5. Confirmation</div>
          </div>
        </div>

        <form layout="column" flex="75" flex-xs="100" name="questionForm" ng-submit="questionSubmit(insurance)" novalidate>
          <div class="form-column">
            <div class="form-container">
              <h1>The Basics.</h1>

              <!-- dev note: deal breaker - if 'Yes' selected, throw error message saying 'Sorry, we do not offer coverage to smokers.' -->
              <div class="form-row">
                <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                  <label>Do you use tobacco products?</label>
                  <md-select
                    name="tobaccoProduct"
                    ng-model="insurance.tobaccoProduct"
                    required
                  >
                    <md-option value="0" ng-selected="insurance.tobaccoProduct">No</md-option>
                    <md-option value="1" ng-selected="insurance.tobaccoProduct">Yes</md-option>
                  </md-select>
                </md-input-container>
                <div class="learn-more">Learn More</div>
              </div>

              <!-- dev note: deal breaker - if 'Yes' selected, throw error message saying 'Sorry, we do not offer coverage to to individuals
                with pre-existing health conditions.' -->
              <div class="form-row">
                <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                  <label>Do you have pre-existing health conditions?</label>
                  <md-select
                    name="healthCondition"
                    ng-model="insurance.healthCondition"
                    required
                  >
                    <md-option value="0" ng-selected="insurance.healthCondition">No</md-option>
                    <md-option value="1" ng-selected="insurance.healthCondition">Yes</md-option>
                  </md-select>
                </md-input-container>
                <div class="learn-more">Learn More</div>
              </div>

              <div class="form-row">
                <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                  <label>Gender</label>
                  <md-select
                    name="gender"
                    ng-model="insurance.gender"
                    required
                  >
                    <md-option value="male">Male</md-option>
                    <md-option value="female">Female</md-option>
                  </md-select>
                </md-input-container>
              </div>

              <!-- dev note: deal breaker - if age is under 18 or over 65, throw error message saying 'Sorry but we do not offer coverage to individuals of your age.' -->
              <div class="form-row">
                <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                  <label>Birthday (YYYY-MM-DD)</label>
                  <input
                    name="birthday"
                    ng-model="insurance.birthday"
                    type="date"
                    max="{{currentDate() | date:'yyyy-MM-dd'}}"
                    required
                  >
                  <!-- format validation MM-DD-YYYY -->
                </md-input-container>
                <span class="learn-more" ng-if="errors.data.age_coverage"> {{errors.data.age_coverage[0]}}</span>
              </div>

              <!-- dev note: deal breaker if BMI index is too high -->
              <div class="form-row">
                <div layout="row" flex="50" flex-sm="75" flex-xs="100">
                  <md-input-container layout="column" flex="50" class="md-block">
                    <label>Height (Inches)</label>
                    <input
                      ng-model="insurance.height"
                      ng-minlength="2"
                      ng-maxlength="3"
                      name="height"
                      type="number"
                      min=0
                      max=999
                      required
                    >
                    <!-- format validation 2 numbers only -->
                    <span ng-show="questionForm.height.$error.minlength" class="learn-more">Height is too short.</span>
                    <span ng-show="questionForm.height.$error.maxlength" class="learn-more">Height is too long.</span>
                  </md-input-container>
                  <md-input-container layout="column" flex="50" class="md-block">
                    <label>Weight (Pounds)</label>
                    <input
                      ng-model="insurance.weight"
                      ng-minlength="2"
                      ng-maxlength="3"
                      name="weight"
                      type="number"
                      min=0
                      max=999
                      required
                    >
                    <!-- format validation 2 or 3 numbers only -->
                    <span ng-show="questionForm.weight.$error.minlength" class="learn-more">Weight is too short.</span>
                    <span ng-show="questionForm.weight.$error.maxlength" class="learn-more">Weight is too long.</span>
                  </md-input-container>
                </div>
                <span class="learn-more" ng-if="errors.data.weight_coverage"> {{errors.data.weight_coverage[0]}}</span>
              </div>

              <md-button class="md-primary" ng-click="questionSubmit(insurance)" ng-disabled="questionForm.$invalid">Next</md-button>
              <!-- <md-button ng-click="questionSubmit()" class="md-primary">Next</md-button> -->
              <!-- <md-button ui-sref="quote" class="md-primary">Next</md-button> -->
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
