<div class="progress-container">
    <div class="progress-block" style="width: 50%;"></div>
    <a class="button-back" href="/">Back</a>
</div>
<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h2 class="">Birthday</h2>
        </div>
        <form name="questionForm" ng-submit="questionSubmit(insurance)" novalidate layout="row" layout-xs="column" flex-offset="25"
            flex="50" flex-offset-sm="15" flex-sm="70" flex-offset-xs="0" flex-xs="100">

            <md-input-container class="margin-bottom-30" layout="column" flex="33" flex-xs="100">
                <label>Month</label>
                <md-select name="birthdayMonth" ng-model="insurance.birthdayMonth" required>
                    <md-option value="01" ng-selected="insurance.birdthdayMonthJanuary">January</md-option>
                    <md-option value="02" ng-selected="insurance.birdthdayMonthFebruary">February</md-option>
                    <md-option value="03" ng-selected="insurance.birdthdayMonthMarch">March</md-option>
                    <!-- need other months -->
                </md-select>
            </md-input-container>

            <md-input-container class="margin-bottom-30" layout="column" flex="33" flex-xs="100">
                <label>Day</label>
                <md-select name="birthdayDay" ng-model="insurance.birthdayDay" required>
                    <md-option value="01" ng-selected="insurance.birdthdayDay01">1</md-option>
                    <md-option value="02" ng-selected="insurance.birdthdayDay02">2</md-option>
                    <md-option value="03" ng-selected="insurance.birdthdayDay03">3</md-option>
                </md-select>
                <!-- need 1 - 31 days -->
            </md-input-container>

            <md-input-container class="margin-bottom-30" layout="column" flex="33" flex-xs="100">
                <label>Year</label>
                <md-select name="birthdayYear" ng-model="insurance.birthdayYear" required>
                    <md-option value="1953" ng-selected="insurance.birdthdayYear1960">1953</md-option>
                    <md-option value="1954" ng-selected="insurance.birdthdayYear1961">1954</md-option>
                    <md-option value="1955" ng-selected="insurance.birdthdayYear1962">1955</md-option>
                </md-select>
                <!-- need 1953 - 1999 years, coverage is only for 18 - 64 yr olds -->
            </md-input-container>

            <span class="learn-more" ng-if="errors.data.age_coverage"> {{errors.data.age_coverage[0]}}</span>

            <div class="question-container">
                <h2 ng-model="term">{{insurance.coverageAge || 0}} Year Term</h2>
            </div>
            <div class="form-column text-center" layout="column" flex="100">
                <div class="form-container">
                    <md-button ng-click="questionSubmit(insurance)" ng-disabled="questionForm.$invalid" class="md-apply-purple">
                        Next
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div>