<div class="progress-container">
    <div class="progress-block" style="min-width: 45%; max-width: 50%;"></div>
    <a class="button-back" href="#" ng-click="goBack(insurance)">Back</a>
</div>

<div class="body-container">
    <div class="body-center">

        <div class="question-container">
            <h2 class="">Birthday</h2>
        </div>

        <form name="birthdayForm" ng-submit="birthdaySubmit(insurance)" novalidate>
            <div layout="row" layout-xs="column" flex-offset="35" flex="30" flex-offset-sm="25" flex-sm="50" flex-offset-xs="0" flex-xs="100">
                <div layout="column" flex="100">
                    <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                        <label>Birthday (MM-DD-YYYY)</label>
                        <input name="birthday" ng-model="insurance.birthday" type="date" max="{{currentDate() | date:'MM-dd-yyyy'}}" ng-change="findCoverageAge()"
                            required>
                    </md-input-container>
                    <span class="learn-more" ng-if="errors.data.age_coverage"> {{errors.data.age_coverage[0]}}</span>
                </div>
            </div>

            <div class="question-container text-center" layout="row" flex="100">
                <h2 ng-model="term">{{coverageTermAge || 0}} Year Term</h2>
            </div>

            <div class="form-column text-center" layout="row" flex="100">
                <div class="form-container">
                    <md-button ng-click="birthdaySubmit(insurance)" ng-disabled="birthdayForm.$invalid" class="md-apply-purple">
                        Next
                    </md-button>
                </div>
            </div>
        </form>

    </div>
</div>
<loading showme="isLoading" showerror="true">
