<div class="progress-container">
  <div class="progress-block" style="min-width: 10%; max-width: 15%;"></div>
  <a class="button-back" href="javascript:history.back()">Back</a>
</div>
<div class="body-container">
  <div class="body-center">
    <div class="question-container">
      <h2 class="">Do you have high blood pressure?</h2>
    </div>
    <form layout="column" flex="100" novalidate>

      <div layout="row" layout-xs="column" flex="100">
        <div class="form-column text-center" layout="column" flex="100">
          <div class="form-container" name="bloodPressure" ng-model="insurance.bloodPressure" required>
            <md-button type='submit' value="0" ng-click="haveBloodPressure(0)" class="md-apply-red">No</md-button>
            <md-button type='submit' value="1" ng-click="haveBloodPressure(1)" class="md-apply-green">Yes</md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
