<div class="progress-container">
  <div class="progress-block" style="min-width: 30%; max-width: 35%;"></div>
  <a class="button-back" href="#" ng-click="goBack(insurance)">Back</a>
</div>
<div class="body-container">
  <div class="body-center">
    <div class="question-container">
      <h2 class="">Have you ever had a DUI or reckless driving charge?</h2>
    </div>
    <form layout="column" flex="100" novalidate>
      <div layout="row" layout-xs="column" flex="100">
        <div class="form-column text-center" layout="column" flex="100">
          <div class="form-container" name="driving" ng-model="insurance.driving" required>
            <md-button type='submit' value="0" ng-click="drivingCharge(0)" class="md-apply-purple">No</md-button>
            <md-button type='submit' value="1" ng-click="drivingCharge(1)" class="md-apply-purple">Yes</md-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
