<div class="progress-container">
  <div class="progress-block" style="min-width: 70%; max-width: 75%;"></div>
  <a class="button-back" href="javascript:history.back()">Back</a>
</div>

<div class="body-container">
  <div class="body-center">

    <div class="question-container">
      <h2 class="">Driver's License Number</h2>
    </div>

    <form name="licenseForm" ng-submit="licenseSubmit(insurance)" novalidate>

      <div layout="row" layout-xs="column" flex-offset="25" flex-offset-xs="0" flex-xs="100">
        <md-input-container class="margin-bottom-50" layout="column" flex="100">
          <label>Driving License</label>
          <input ng-model="insurance.drivingLicense">
        </md-input-container>
      </div>

      <div class="form-column text-center" layout="row" flex="100">
        <div class="form-container">
          <md-button ng-click="licenseSubmit(insurance)" ng-disabled="licenseForm.$invalid" class="md-apply-purple">
            Next
          </md-button>
        </div>
      </div>

    </form>

  </div>
</div>