<div class="progress-container">
    <div class="progress-block" style="min-width: 65%; max-width: 70%;"></div>
    <a class="button-back" href="/">Back</a>
</div>
<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h2 class="">Phone Number</h2>
        </div>
        <form name="questionForm" ng-submit="questionSubmit(insurance)" novalidate layout="row" layout-xs="column" flex-offset="25"
            flex-offset-xs="0" flex-xs="100">
            <md-input-container class="margin-bottom-50" layout="column" flex="100">
                <label>Phone Number</label>
                <input ng-model="insurance.phoneNumber" type="number" required>
                <span class="learn-more" ng-if="errors.data.phone_number"> Phone Number {{errors.data.phone_number[0]}}</span>
            </md-input-container>
            <div class="form-column text-center" layout="column" flex="100">
                <div class="form-container">
                    <md-button ng-click="questionSubmit(insurance)" ng-disabled="questionForm.$invalid" class="md-apply-purple">
                        Next
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div>