<div class="body-container">
  <div class="body-center">

    <div class="question-container">
      <h2 class="">Choose Coverage Type</h2>
    </div>

    <div layout="row" layout-xs="column" flex-offset="25" flex="50" flex-offset-sm="10" flex-sm="80" flex-offset-xs="0" flex-xs="100">
      <div class="inline-block column-padding text-center" layout="column" flex="50" flex-xs="100">
        <md-button ng-click="insurance.accidental" ng-selected="insurance.product" class="md-apply-blue disabled">Accidental</md-button>
        <div class="img-coverage-container">
          <img class="img-coverage" src="/insurance/onboarding/img/car.png">
          <img class="img-coverage" src="/insurance/onboarding/img/bike.png">
          <img class="img-coverage" src="/insurance/onboarding/img/fire.png">
        </div>
        <p class="small">Accidental covers unexpected events like car, bike, and commercial air crashes, and fire.
        </p>
      </div>

      <div class="inline-block column-padding text-center" layout="column" flex="50" flex-xs="100">
        <md-button ng-click="termProduct()" ng-model="insurance.product" class="md-apply-purple">
          Term
        </md-button>
        <div class="img-coverage-container">
          <img class="img-coverage" src="/insurance/onboarding/img/heart_attack.png">
          <img class="img-coverage" src="/insurance/onboarding/img/cancer.png">
          <img class="img-coverage" src="/insurance/onboarding/img/diabetes.png">
        </div>
        <p class="small">Term covers illnesses like heart attacks, cancer, diabetes, and natural causes.
        </p>
      </div>
      <div flex></div>
    </div>

  </div>
</div>