<div class="progress-container">
  <div class="progress-block" style="min-width: 0%; max-width: 5%;"></div>
  <a class="button-back" href="#" ng-click="goBack()">Back</a>
</div>

<div class="body-container">
  <div class="body-center">

    <div class="question-container">
      <h2 class="">Do you use tobacco or nicotine products?</h2>
    </div>

    <form layout="column" flex="100" name="tobaccoForm" novalidate>
      <div layout="row" layout-xs="column" flex="100">
        <div class="form-column text-center" layout="column" flex="100">
          <div class="form-container" name="tobaccoProduct" ng-model="insurance.tobaccoProduct" required>
            <md-button type='submit' value="0" class="md-apply-red" ng-click="tobaccoSelect(0)">No</md-button>
            <md-button type='submit' value="1"  class="md-apply-green" ng-click="tobaccoSelect(1)">Yes</md-button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
