<div layout="column" flex="100">

  <div class="body-container">
    <div layout="row" layout-xs="column" flex="100">

      <div class="form-column" layout="column" flex="25" flex-xs="100">
        <div class="progress-container">
          <div class="progress-block complete">1. Questions</div>
          <div class="progress-block complete">2. Coverage</div>
          <div class="progress-block active">3. Payment</div>
          <div class="progress-block">4. Signature</div>
          <div class="progress-block">5. Confirmation</div>
        </div>
      </div>

      <form
        layout="column"
        flex="75"
        flex-xs="100"
        name="paymentForm"
        stripe-form="stripeCallback"
        novalidate
      >

        <div class="form-column">
          <div class="form-container">
            <h1>The Payment.</h1>

            <h1>${{insurance.coveragePayment}} per month</h1>

            <div class="form-row">
              <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                <label>Name on Card</label>
                <input
                  name="cardName"
                  ng-model="cardDetails.cardName"
                  required
                >
              </md-input-container>
            </div>

            <div class="form-row">
              <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                <label>Card number</label>
                <input
                  type="text"
                  class="input-block-level"
                  ng-model="number"
                  name="number"
                  payments-validate="card"
                  payments-format="card"
                  payments-type-model="type"
                  payments-length="card"
                  ng-class="type"
                >
                <span ng-show="paymentForm.cardNumber.$error.minlength" class="learn-more">Card number should be 16 digits.</span>
                <span ng-show="paymentForm.cardNumber.$error.maxlength" class="learn-more">Card number should be 16 digits.</span>
                <!-- format validation 16? numbers only -->
              </md-input-container>
            </div>

            <div class="form-row">
              <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                <label>Expiration date (MM/YY)</label>
                <input
                  type="text"
                  class="input-block-level"
                  ng-model="expiry"
                  name="expiry"
                  payments-validate="expiry"
                  payments-format="expiry"
                >
              </md-input-container>
              <!-- format validation -->
            </div>

            <div class="form-row">
              <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                <label>Security number</label>
                <input
                  type="text"
                  class="input-block-level"
                  ng-model="cvc"
                  name="cvc"
                  payments-validate="cvc"
                  payments-format="cvc"
                  payments-type-model="type"
                >
                <span ng-show="paymentForm.cardSecurity.$error.minlength" class="learn-more">Card security number should not be less than 3 digits.</span>
                <span ng-show="paymentForm.cardSecurity.$error.maxlength" class="learn-more">Card security number should be greater than 4 digits.</span>
                <!-- format validation 3 or 4 numbers only -->
              </md-input-container>
            </div>
            <span class="learn-more" ng-if="stripeErrors"> {{stripeErrors}}</span>
            <div class="form-row">
              <md-checkbox
                name="termsAndServices"
                ng-model="insurance.termsAndServices"
                aria-label=""
                required
              >
                I agree to the terms and service.
              </md-checkbox>
            </div>
            <br>

            <!-- dev note: clicking next will trigger the validation of information with paypal. throw error message if credit card is not charged successfully. -->
            <md-button ui-sref="quote" class="md-secondary">Back</md-button>
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="paymentForm.$invalid"
            >
              Next
            </md-button>
            <!-- <md-button ui-sref="sign" class="md-primary">Next</md-button> -->
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
