html,
body {
  height: 100%;
  background: #fff !important;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
  color: #333333;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #333;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 26px;
  color: #333;
}

p {
  color: #333;
  font-size: 18px !important;
  line-height: 28px !important;
  margin: 10px 0px;
}

p a {
  color: #ffaa00;
  transition: all 0.15s linear;
}

p a:hover {
  color: #8000ff;
}

.bold {
  font-weight: 400 !important;
}

.iframe-container {
  position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white {
  color: #fff !important;
}

.black {
  color: #8000ff !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}



body input + label {
  position: fixed;
  top: 25px;
  right: 50px;
  height: 20px;
  width: 25px;
  z-index: 5;
}

body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #8000ff;
  transition: .3s;
}

body input + label:hover span {
  background: #333 !important;
}

body input + label span:first-child {
  top: 3px;
}

body input + label span:last-child {
  top: 17px;
}

body label:hover {
  cursor: pointer;
}

body input:checked + label span {
  opacity: 0;
  top: 50%;
}

body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

body input ~ nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  transition: .2s;
  transition-delay: .2s;
  overflow: hidden;
}

body input ~ nav > ul {
  text-align: center;
  position: relative;
  list-style-type: none;
  list-style: none;
  margin: 100px auto;
  padding: 0px;
}

body input ~ nav > ul > li {
  opacity: 0;
  transition: .2s;
  transition-delay: 0s;
}

body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px ;
  margin: 10px;
  width: 100px;
}

body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: .2s;
}






.navigation {
  display: flex;
}

.menu { 
  display: flex;
  flex-direction: column;
  
  @media (--min-sm) {
    flex-direction: row;
  }
}

.menu > li {
  @media (--min-sm) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.menu a {
  position: relative;
  display: inline-block;
  color: #333;
  transition: color .2s ease;
  
  &:hover {
    color: #8000ff;
     
    &::after,
    &::before {
      width: 100%;
      left: 0;
    }
    
  }
}

.menu a {
  &::after,
  &::before {
    content: ''; 
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 2px;
  }
  
  &::before {
    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #999;
  }
  
  &::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #8000ff;
  }
 
}


.header {
  height: 30px;
  padding: 20px 100px 20px 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header-logo {
  position: relative;
  transition: all 0.15s linear;
  display: inline-block;
  z-index: 101;
}

.header-logo img {
  height: 30px;
  width: 30px;
}

.header-logo:hover {
  cursor: pointer;
}

.header-link {
  float: right;
  position: relative;
  display: inline-block;
  transition: all 0.15s linear;
  padding: 8px 15px;
  margin-left: 10px;
  color: #8000ff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 101 !important;
}

.header-link:hover {
  cursor: pointer;
  color: #333;
}

.footer {
  padding: 100px 30px;
  background: #333;
  position: relative;
  text-align: center;
}

.footer p {
  display: inline-block;
  color: #999;
  font-size: 12px !important;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 500;
}

.footer a {
  box-sizing: border-box;
  display: inline-block;
  color: #999;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.15s linear;
  margin: 10px 20px;
}

.footer a:hover {
  color: #fff;
  cursor: pointer;
}

.footer i {
  display: block;
  color: #999;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
}

.body-container {
  padding: 20px;
}

.bg-landing {
  position: relative;
  display: block;
  padding: 220px 0px;
  background: url(../img/bg-landing.png) no-repeat center center;
}

.bg-landing h1 {
  margin: 0;
}

.bg-purple {
  position: relative;
  display: block;
  padding: 100px 0px;
  background: #8000ff;
}

.bg-purple h1,
.bg-purple p {
  color: #fff;
}

.bg-signup {
  padding: 50px 0px;
  background: #8000ff;
  text-align: center;
}

.bg-signup p {
  color: #fff;
  margin-bottom: 30px;
}

.bg-white {
  position: relative;
  display: block;
  padding: 100px 0px;
  background: #fff;
}

.bg-gray {
  position: relative;
  display: block;
  padding: 100px 0px;
  background: #f2f2f2;
}

.bg-press {
  position: relative;
  display: block;
  padding: 50px 0px;
  background: #f2f2f2;
  text-align: center;
}

.bg-testimonial {
  position: relative;
  display: block;
  padding: 100px 0px;
  background: #fff;
  text-align: center;
}

.landing-button {
  position: relative;
  display: inline-block;
}

.title {
  padding: 50px 0px;
}

.progress-block {
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  color: #8000ff;
  text-transform: uppercase;
}

.progress-block.complete {
  text-decoration: line-through;
}

.progress-block.active {
  background: #f2f2f2;
}

.progress-container {
  margin-bottom: 70px;
  margin-right: 50px;
}

.quote-text {
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  margin: 50px 0px 0px 0px !important;
  color: #8000ff;
  display: inline-block;
}

.form-row {
  padding-bottom: 30px;
}


.form-container h1 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 200;
  margin: 0px 0px 50px 0px;
  color: #8000ff;
}

.form-container i {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 50px 0px;
  color: #8000ff;
  font-style: normal;
}

.form-container i.bold {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #00aaff;
}

.form-column {
  display: block !important;
}

.learn-more {
  font-size: 10px;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  color: #00aaff;
  text-transform: uppercase;
  padding-left: 5px;
  transition: all 0.15s linear;
}

.learn-more:hover {
  cursor: pointer;
  color: #8000ff;
}

.input-sub {
  font-size: 10px;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
  color: #8000ff;
  text-transform: uppercase;
  padding-left: 5px;
  transition: all 0.15s linear;
}



md-slider:hover {
  cursor: pointer !important;
}

.md-button {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 0px !important;
}

.md-button.md-landing-white {
  color: #333;
  background: #ccc;
  transition: all 0.15s linear;
}

.md-button.md-landing-white:hover {
  background: #fff;
}

.md-button.md-landing {
  color: #fff;
  background: #8000ff;
  transition: all 0.15s linear;
}

.md-button.md-landing:hover {
  color: #fff;
  background: #333;
}

.md-button.md-primary {
  color: #fff;
  background: #00aaff;
  transition: all 0.15s linear;
}

.md-button.md-primary:hover {
  color: #8000ff;
  background: #80d4ff;
}

.md-button.md-secondary {
  color: #8000ff;
  background: #f2f2f2;
  transition: all 0.15s linear;
}

.md-button.md-secondary:hover {
  color: #fff;
  background: #797e80;
}

md-checkbox .md-label {
  font-size: 12px;
  color: #8000ff;
}

md-checkbox.md-checked .md-ink-ripple {
  color: #00aaff;
}

md-checkbox.md-checked .md-icon {
  background-color: #00aaff;
}





















.pricing-container {
  position: relative;
  display: block !important;
  padding: 30px 20px;
}

.pricing-column {
  display: block !important;
}

.pricing-table {
  margin: 20px;
  padding: 20px 0px;
  display: block !important;
}

.price-container {
  background: #00aaff;
  padding: 10px 20px;
  margin: 20px 0px 10px 0px;
  position: relative;
}

.pricing-table h1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #8000ff;
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}

.pricing-table h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
  color: #8000ff;
  text-align: center;
  margin: 10px;
}

.pricing-table h3 {
  font-size: 12px;
  line-height: 20px;
  color: #8000ff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.pricing-features {
  padding: 30px 20px;
}


.feature-block {
  font-size: 18px;
  line-height: 28px;
  color: #8000ff;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  display: block !important;
}

.title-blocks {
  padding: 100px 30px 150px 30px;
  border-bottom: 1px solid #f2f2f2;
}

.title-block {
  display: block !important;
  background: #00aaff;
  padding: 20px 10px;
  transition: all 0.15s linear;
  border-radius: 3px;
}

.title-block:hover {
  cursor: pointer;
}

.title-block-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #8000ff;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s linear;
}

.title-container {
  height: 100%;
  width: 100%;
}

.title-column {
  padding: 0px 30px;
  margin-bottom: 30px;
}

.title-how {
  padding: 150px 30px 250px 30px;
  text-align: center;
}

.title-how-text {
  font-size: 30px;
  line-height: 40px;
  color: #8000ff;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.title-login p,
.title p {
  color: #8000ff;
}

.title-2 {
  padding: 50px 30px 50px 30px;
}

.title-2-text {
  font-size: 25px;
  line-height: 35px;
  color: #8000ff;
  font-weight: 300;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}

.features-2 {
  padding: 150px 30px 100px 30px;
  position: relative;
  z-index: 2;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(2deg);
        transform: skewY(2deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
    border-bottom: 1px solid #f2f2f2;
  }
}

.title-3-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  margin-bottom: 20px;
}

.title-4 {
  padding: 20px 20px 30px 20px;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}

.title-4a-text,
.title-4-text {
  display: inline;
  width: 115px;
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  transition: all 0.15s linear;
}

.title-4a-text:hover,
.title-4-text:hover {
  cursor: pointer;
  color: #00aaff;
}

.title-4a-text {
  color: #aa00ff;
  float: right;
  text-align: right;
}

.title-5 {
  margin-top: 100px;
  margin-bottom: -50px;
  padding: 50px 50% 200px 50px;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(7deg);
        transform: skewY(7deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.title-5:hover {
  cursor: pointer;
}

.title-5:hover .title-5-text {
  -ms-transform: scale(1.03);
      transform: scale(1.03);
}

.title-5-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  transition: all 0.15s linear;
}

.title-6-text {
  width: 35%;
  float: right;
  text-align: center;
  padding: 80px 10px 150px 10px;
  margin-top: -200px;
  background: -webkit-linear-gradient(left, #00cccc, #00aaff);
  position: relative;
  z-index: 2;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(-20deg);
        transform: skewY(-20deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }
}

.title-6-text:hover {
  cursor: pointer;
  width: 37%;
}

.title-6-text {
  font-size: 25px;
  line-height: 32px;
  color: #fff;
  font-weight: 300;
}

.title-7 {
  margin-top: 0px;
  padding: 50px 30px 50px 30px;
  background: -webkit-linear-gradient(left, #d500ff, #aa00ff);
  position: relative;
  z-index: 2;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(3deg);
        transform: skewY(3deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }
}

.title-7-text {
  font-size: 25px;
  line-height: 40px;
  color: #fff;
  font-weight: 300;
}

.title-7 p {
  color: #fff;
  display: block;
}

.title-8 {
  margin-top: 0px;
  padding: 50px 30px 100px 30px;
  position: relative;
  z-index: 1;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(-5deg);
        transform: skewY(-5deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.title-8-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title-8-text a {
  color: #00aaff;
  transition: all 0.15s linear;
}

.title-8-text a:hover {
  color: #8000ff;
}

.title-9 {
  padding: 100px 20px 0px 20px;
  -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
}

.title-9-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
}

.title-10 {
  padding: 40px 30px 40px 30px;
  position: relative;
  z-index: 2;
  text-align: right;
  transition: all 0.15s linear;
  border-top: 1px solid #f2f2f2;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(1deg);
        transform: skewY(1deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }
}

.title-10:hover {
  background: #00aaff;
  border-top: 1px solid #00aaff;
  cursor: pointer;
}

.title-10-text {
  font-size: 20px;
  line-height: 30px;
  color: #8000ff;
  font-weight: 300;
  -ms-transform: rotate(-1deg);
      transform: rotate(-1deg);
  transition: all 0.15s linear;
}

.title-10:hover .title-10-text {
  padding-right: 10px;
}

.title-11 {
  margin-top: 100px;
  margin-bottom: -50px;
  padding: 30px 50% 250px 50px;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(7deg);
        transform: skewY(7deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.title-11-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  transition: all 0.15s linear;
  margin-bottom: 50px;
}


.title-12 {
  padding: 150px 0px;
  background: #fafafa;
  position: relative;
  z-index: 1;
  transition: all 0.15s linear;
  border-bottom: 1px solid #f2f2f2;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.features-3 {
  padding: 100px 0px;
  background: #f2f2f2;
}

.title-13 {
  padding: 100px 20px 100px 20px;
}

.title-13-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
}

.title-13-text a {
  color: #aa00ff;
  transition: all 0.15s linear;
}

.title-13-text a:hover {
  color: #d500ff;
  cursor: pointer;
}

.title-14 {
  padding: 150px 0px 150px 0px;
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(5deg);
        transform: skewY(5deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.features-1 {
  margin-top: 150px;
  padding: 100px 0px 150px 0px;
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(5deg);
        transform: skewY(5deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.title-14-text {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
  margin-top: 50px;
}

.title-15 {
  padding: 150px 0px;
}


.text-center {
  text-align: center;
  display: block !important;
}

.text-left {
  text-align: left;
  display: block !important;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(-360deg); }
}


/* LOGIN */

.login-container {
    padding: 50px 30px 100px 30px;
}

.title-login {
  margin: 35px 0px 0px 0px;
  padding: 50px 30px;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(5deg);
        transform: skewY(5deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
    border-top: 1px solid #f2f2f2;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 100%;
        transform-origin: 100%;
  }
}

.login-2 {
  padding: 20px 30px 40px 30px;
  position: relative;
  z-index: 2;
  transition: all 0.15s linear;
  background: #f2f2f2;
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }
}

.login-2:hover {
  padding-left: 40px;
  cursor: pointer;
  background: #00aaff;
}

.login-text-2 {
  font-size: 25px;
  line-height: 32px;
  color: #8000ff;
  font-weight: 300;
}

.login-3 {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: all 0.15s linear;

  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    top: 0;
    -ms-transform: skewY(3deg);
        transform: skewY(3deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }

  &:after {
    bottom: 0;
    -ms-transform: skewY(0deg);
        transform: skewY(0deg);
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
  }
}

.login-3:hover {
  padding-left: 40px;
  cursor: pointer;
  background: #00aaff;
}

.login-text-3 {
  font-size: 14px;
  line-height: 20px;
  color: #8000ff;
  font-weight: 300;
}

md-input-container:not(.md-input-invalid).md-input-focused md-select md-select-value,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #00aaff !important;
}

md-input-container:not(.md-input-invalid).md-input-focused md-select span,
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #00aaff !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #00aaff !important;
}

md-input-container:not([md-no-float]) .md-select-placeholder span:first-child,
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
    font-size: 16px !important;
}

md-input-container {
  margin: 0px 0px 0px 0px !important;
}

md-input-container.landing-input:not([md-no-float]) .md-select-placeholder span:first-child,
md-input-container.landing-input label:not(.md-no-float):not(.md-container-ignore), 
md-input-container.landing-input .md-placeholder {
  color: #fff !important;
  font-size: 16px !important;
  padding: 0px 15px;
  margin-bottom: -8px;
  height: 30px;
}

md-input-container {
  padding: 0 !important;
}

md-input-container.landing-input .md-input {
  border: none !important;
  background: #8000ff;
  border-radius: 2px;
  padding: 5px 15px;
  margin-top: -3px;
  color: #fff;
  height: 36px;
}

md-select {
  margin-bottom: 20px !important;
}

.clear {
  display: inline !important;
}

.md-block.landing-input {
  display: inline-block !important;
}

.landing-input {
  margin-top: 28px !important;
  width: 100% !important;
}

/* FEATURES */

.img-xsmall {
  width: 100%;
  max-width: 120px !important;
  margin: 0px;
  opacity: 0.5;
}

.img-title-big svg {
  width: 100px;
  height: 100px;
}

.img-title-big.gray svg {
  fill: #997300;
}

.img-title-big.green svg {
  fill: #00aaff;
}

.img-small {
  width: 100%;
  max-width: 500px !important;
  margin: 0px 0px;
}

.img-medium {
  width: 100%;
  max-width: 600px !important;
  margin: 50px 0px 0px 0px;
}

.img-title {
  width: 100%;
  max-width: 400px !important;
  margin: 0px 0px 0px 0px;
}

.img-events {
  width: 100%;
  max-width: 800px !important;
  margin-top: 0px;
}

.img-favicon {
  width: 100%;
  max-width: 200px !important;
  height: auto;
  display: inline-block;
  animation: drift 6000ms infinite linear;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}


.container-block {
  min-height: 200px;
  display: inline-block;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.img-freelancer {
  width: 100%;
  max-width: 400px !important;
}

.img-press {
  height: 20px;
  opacity: 0.3;
  margin: 20px 50px 20px 0px;
}

.img-icon {
  margin: 50px 0px 0px 0px;
  display: inline-block;
}

.img-icon svg {
  fill: #ffd400;
  height: 50px;
  width: 50px;
}

.img-footer {
  margin: 10px 20px 10px 0px;
  display: inline-block;
}

.img-footer svg {
  fill: #999;
  height: 25px;
  width: 25px;
  transition: all 0.15s linear;
}

.img-footer svg:hover {
  fill: #fff;
  cursor: pointer;
}

.img-feature {
  opacity: 0.7;
  fill: #fff;
}

.img-feature svg {
  height: 50px;
  width: 50px;
}

.img-title-container {
  border-radius: 50%;
  border: 1px solid #00aaff;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 30px;
}

.img-title-container-fill {
  border-radius: 50%;
  background: #00aaff;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 30px;
}

.img-title {
  fill: #00aaff;
}

.img-title-white {
  fill: #f2f2f2;
}

.img-title-white svg,
.img-title svg {
  height: 30px;
  width: 30px;
  padding-top: 20px;
}

.footer-img {
  float: right;
  height: 30px;
  opacity: 0.3;
  animation: drift 3000ms infinite linear;
}

.platform-img {
  fill: #fff;
  margin-left: 5px;
  line-height: 50px;
}

.platform-img-green {
  fill: #00aaff;
}

.platform-img-green svg {
  height: 50px;
  width: 50px;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.img-container {
  margin: 120px 0px;
}

.container-margin {
  display: block !important;
  position: relative;
}

.text-container {
  display: block !important;
}

md-slider .md-thumb-text {
  color: #8000ff;
}

.inline-block {
  display: inline-block !important;
  position: relative;
}

.block {
  display: block !important;
  position: relative;
  height: 100%;
  padding: 0px 50px;
}

.clock {
   width: 200px;
   height: 200px;
   background: #8000ff;
   margin: 0 auto;
   border-radius: 50%;
   position: relative;
   display: block;
}

.long-hand, .short-hand {
  width: 2px;
   background: #fff;
   position: absolute;
   top: 100px;
   left: 100px;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
   -o-transform: rotate(-180deg);
   transform: rotate(-180deg);
   -webkit-transform-origin: 0 1px;
   -moz-transform-origin: 0 1px;
   -o-transform-origin: 0 1px;
   transform-origin: 0 1px;
}

.nut {
   width: 14px;
   height: 14px;
   border-radius: 50%;
   position: absolute;
   top: 93px;
   left: 93px;
   background: #fff
}

.short-hand {
   height: 50px;
   -webkit-animation: rotation 60s infinite linear;
   -moz-animation: rotation 60s infinite linear;
   -o-animation: rotation 60s infinite linear;
   animation: rotation 60s infinite linear
}
.long-hand {
   height: 80px;
   -webkit-animation: rotation 10s infinite linear;
   -moz-animation: rotation 10s infinite linear;
   -o-animation: rotation 10s infinite linear;
   animation: rotation 10s infinite linear
}

@-webkit-keyframes rotation {
   0% {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@-moz-keyframes rotation {
   0% {
      -moz-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@-o-keyframes rotation {
   0% {
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

@keyframes rotation {
   0% {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
   }
   100% {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
   }
}

.spinner-container {
  position: fixed;
  top: 33%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #8000ff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}