# This is to enable WS support. Credits: # https://gist.github.com/Bubelbub/0a942a0d51a3d329897d
# THIS WORKS! for running the example 5.0.0.beta1 chat app on a single instance Elastic beanstalk AWS instance

files:
  "/etc/nginx/conf.d/websockets.conf" :
    content: |
      upstream my_app {
        server unix:///var/run/puma/my_app.sock;
      }

      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier

        root  /var/app/current/public;

        location / {
          try_files $uri  @backend;
        }

        location @backend {
          proxy_pass http://my_app; # match the name of upstream directive which is defined above
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /assets {
          alias /var/app/current/public/assets;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }

        location /public {
          alias /var/app/current/public;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }
        location = /50x.html {
          root html;
        }

        location = /404.html {
          root html;
        }

        location @503 {
          error_page 405 = /system/maintenance.html;
          if (-f $document_root/system/maintenance.html) {
            rewrite ^(.*)$ /system/maintenance.html break;
          }
          rewrite ^(.*)$ /503.html break;
        }

        if ($request_method !~ ^(GET|HEAD|PUT|PATCH|POST|DELETE|OPTIONS)$ ){
          return 405;
        }

        if (-f $document_root/system/maintenance.html) {
          return 503;
        }

        location ~ \.(php|rb|sh)$ {
          return 405;
        }
      }


# container_commands:
#   01restart_nginx:
#     command: "service nginx restart"
