commands:
  cron_00_unset_leader:
    test: test -f /var/app/containerfiles/.is_leader
    cwd: /var/app/containerfiles
    command: rm -rf /var/app/containerfiles/.is_leader

  cron_01_set_leader:
    test: test ! -f /var/app/containerfiles/.is_leader
    leader_only: true
    cwd: /var/app/containerfiles
    command: touch /var/app/containerfiles/.is_leader

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_cron.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      set -xe

      if [[ ! -f /var/app/containerfiles/.is_leader ]] ; then
        echo 'leader not detected. Not running cron.'
        exit
      fi



      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_DEPLOY_DIR
      su -c "bundle exec whenever --update-cron"
      su -c "crontab -l"

