#commands:
#  create_post_dir:
#    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
#   ignoreErrors: true
#files:
#  "/opt/elasticbeanstalk/hooks/appdeploy/post/delayed_job.sh":
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/usr/bin/env bash
#      . /opt/elasticbeanstalk/support/envvars
#      cd $EB_CONFIG_APP_CURRENT
#      su -c "RAILS_ENV=production bin/delayed_job --pid-dir=$EB_CONFIG_APP_SUPPORT/pids restart" $EB_CONFIG_APP_USER
#
