<div class="progress-container">
    <div class="progress-block" style="min-width: 80%; max-width: 85%;"></div>
    <a class="button-back" href="javascript:history.back()">Back</a>
</div>

<div class="body-container">
    <form class="body-center" name="frequencyForm" ng-submit="frequencySubmit(insurance)" novalidate>

        <div class="question-container">
            <h2 class="">Premium Frequency</h2>
        </div>

        <div class="form-column text-center" layout="row" flex="100">
            <md-radio-group name="paymentFrequency" ng-model="insurance.paymentFrequency" ng-change="getPremiumCharge(insurance)" required>
                <md-radio-button value="annual">Annual</md-radio-button>
                <md-radio-button value="semi"> Semi-Annual </md-radio-button>
                <md-radio-button value="quarterly"> Quarterly </md-radio-button>
                <md-radio-button value="monthly"> Monthly </md-radio-button>
            </md-radio-group>
        </div>

        <div class="question-container text-center" layout="row" flex="100">
            <h2 name="coveragePayment" ng-model="insurance.coveragePayment" ng-if="insurance.coveragePayment">
                ${{insurance.coveragePayment | number:0}} Per Month
            </h2>
            <h2 ng-model="insurance.coveragePayment" ng-if="!insurance.coveragePayment"> $0 Per Month</h2>
        </div>

        <div class="form-column text-center" layout="row" flex="100">
            <div class="form-container">
                <md-button ng-click="frequencySubmit(insurance)" ng-disabled="frequencyForm.$invalid" class="md-apply-purple">
                    Next
                </md-button>
            </div>
        </div>
    </form>
</div>