<div class="progress-container">
    <div class="progress-block" style="width: 85%;"></div>
    <a class="button-back" href="/">Back</a>
</div>
<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h2 class="">Payment Frequency</h2>
        </div>
        <div class="text-center margin-bottom-50" layout="row" layout-xs="column" flex="100">
            <!-- name="paymentFrequency"
                    ng-model="insurance.paymentFrequency"
                    ng-change="getPremiumCharge(insurance)"
                    required -->
            <md-button type='submit' class="md-apply-blue">Annual</md-button>
            <md-button type='submit' class="md-apply-blue">Semi-Annual</md-button>
            <md-button type='submit' class="md-apply-blue">Quarterly</md-button>
            <md-button type='submit' class="md-apply-blue">Monthly</md-button>
        </div>
        <div class="question-container">
            <h2 name="coveragePayment" ng-model="insurance.coveragePayment" ng-if="insurance.coveragePayment">
                ${{insurance.coveragePayment}} Per Month
            </h2>
            <h2 ng-model="insurance.coveragePayment" ng-if="!insurance.coveragePayment"> $0 Per Month</h2>
        </div>
        <div class="form-column text-center" layout="column" flex="100">
            <div class="form-container">
                <md-button type="submit" class="md-apply-purple" ng-disabled="paymentFrequency.$invalid">
                    Next
                </md-button>
            </div>
        </div>
    </div>
</div>
