<div>

  <div layout="column" flex="100">

    <div class="body-container">
      <div layout="row" layout-xs="column" flex="100">

        <div class="form-column" layout="column" flex="25" flex-xs="100">
          <div class="progress-container">
            <div class="progress-block complete">1. Questions</div>
            <div class="progress-block active">2. Coverage</div>
            <div class="progress-block">3. Payment</div>
            <div class="progress-block">4. Signature</div>
            <div class="progress-block">5. Confirmation</div>
          </div>
        </div>

        <form layout="column" flex="75" flex-xs="100" name="quoteForm" ng-submit="quoteSubmit(insurance)" novalidate>
          <div class="form-column">
            <div class="form-container">
              <h1>The Coverage.</h1>
              <p>Adjust the slider to choose your coverage amount.</p>
              <div class="learn-more margin-bottom-50">How much do I need?</div>

              <div class="margin-bottom-50">
                <md-slider-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
                  <md-slider
                    name="coverageAmount"
                    flex step="100000"
                    min="100000"
                    max="2000000"
                    ng-model="insurance.coverageAmount"
                    ng-change="getPremium(insurance)"
                    required
                  >
                  </md-slider>
                </md-slider-container>
              </div>

              <div class="margin-bottom-50">
                <h1
                  ng-model="insurance.coverageAmount"
                  ng-if="insurance.coverageAmount"
                >
                  ${{insurance.coverageAmount | number : fractionSize }} coverage
                </h1>
                <h1
                  ng-model="insurance.coverageAmount"
                  ng-if="!insurance.coverageAmount"
                >
                  $100,000 coverage
                </h1>
                <h1 ng-model="term">{{insurance.coverageAge}} year term</h1>

                <!-- dev note: payment will be calculated based on age, gender, and coverage only -->
                <h1
                  name="coveragePayment"
                  ng-model="insurance.coveragePayment"
                  ng-if="insurance.coveragePayment"
                  >
                  ${{insurance.coveragePayment}} per month
                </h1>
                <h1 ng-model="insurance.coveragePayment" ng-if="!insurance.coveragePayment"> $0 per month</h1>

              </div>
              <br>

              <md-button ui-sref="apply" class="md-secondary">Back</md-button>
              <md-button class="md-primary" ng-click="quoteSubmit(insurance)" ng-disabled="quoteForm.$invalid">Next</md-button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
