<div layout="column" flex="100">

  <div class="body-container">
    <div layout="row" layout-xs="column" flex="100">

      <div class="form-column" layout="column" flex="100" flex-xs="100">
        <div class="form-container">

          <h1>The Contact.</h1>
          <p class="margin-bottom-50">Enter your information below to receive a registration email.</p>

          <div class="form-row">
            <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
              <label>Email Address</label>
              <input ng-model="email">
            </md-input-container>
          </div>

          <div class="form-row">
            <div layout="row" flex="50" flex-sm="75" flex-xs="100">
              <md-input-container layout="column" flex="50" class="md-block">
                <label>First name</label>
                <input ng-model="firstName">
              </md-input-container>
              <md-input-container layout="column" flex="50" class="md-block">
                <label>Last name</label>
                <input ng-model="lastName">
              </md-input-container>
            </div>
          </div>

          <div class="form-row">
            <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
              <label>Street Address</label>
              <input ng-model="street">
            </md-input-container>
          </div>

          <div class="form-row">
            <div layout="row" flex="50" flex-sm="75" flex-xs="100">
              <md-input-container layout="column" flex="70" class="md-block">
                <label>City</label>
                <input ng-model="city">
              </md-input-container>
              <md-input-container layout="column" flex="30" class="md-block">
                <label>State</label>
                <md-select ng-model="state">
                  <md-option value="NC">NC</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <div class="form-row">
            <md-input-container flex="50" flex-sm="75" flex-xs="100" class="md-block">
              <label>Zip code</label>
              <input ng-model="zip">
            </md-input-container>
          </div>

          <md-button ng-click="registerComplete" class="md-primary">Next</md-button>
        </div>
      </div>

    </div>
  </div>

</div>