<div class="bg-about">
    <div layout="row" layout-xs="column" flex="100">
        <div class="block" layout="column" flex="66" flex-xs="100">
            <h3>A NEW KIND OF INSURANCE COMPANY.</h3>
        </div>
    </div>
</div>

<div class="bg-about-2">
    <div layout="row" layout-xs="column" flex="100">
        <div class="block " layout="column" flex="50" flex-xs="100">
            <div class="landing-block">
                <p>We believe providing for our loved ones should be simple and not break the bank. We hope for the best, and
                    plan for the worst. We offer our clients the piece of mind they need in minutes.</p>
                <p>Based in Raleigh, North Carolina, we operate as a direct to consumer insurance company without middlemen.
                    We approve and underwrite our policies with the latest technology and with care.</p>
            </div>
        </div>
        <div class="block" layout="column" flex="50" flex-xs="100">
            <div class="landing-block">
                <p>Due to the time-consuming inconvenient process of current life insurance underwriting, the majority of Americans
                    forego protecting their loved ones financially. We are on a mission to close the gap and provide coverage
                    to the new generation of families.</p>
                <p>We approve insurance without exams. Our clients pay and sign for their policies online in minutes. Bequest
                    Life is eliminating all barriers to coverage.</p>
            </div>
        </div>
    </div>
</div>