<div class="progress-container">
    <div class="progress-block progress-1"></div>
</div>

<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you use tobacco or nicotine products?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you have a history of heart disease, cancer, diabetes, or respiratory disease?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you have high blood pressure??</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you have high cholesterol?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do your family members have a history of heart disease or cancer?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you have a hazardous occupation or hobby?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Have you ever had a DUI or reckless driving charge?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Do you use alcohol or drugs?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">What is your gender?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">Male</md-button>
                        <md-button type='submit' class="md-apply-primary">Female</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">When is your birthday?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">How tall are you?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">How much do you weigh?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">What is your address?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">What is your phone number?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">What is your driver's license number?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">How much coverage do you want?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">No</md-button>
                        <md-button type='submit' class="md-apply-primary">Yes</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">How often do you want to pay your premium?</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">Annual</md-button>
                        <md-button type='submit' class="md-apply-primary">Semi-annual</md-button>
                        <md-button type='submit' class="md-apply-secondary">Quarterly</md-button>
                        <md-button type='submit' class="md-apply-primary">Monthly</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Enter your payment information.</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">Annual</md-button>
                        <md-button type='submit' class="md-apply-primary">Semi-annual</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container">
    <div class="body-center">
        <div class="question-container">
            <h3 class="">Payment is a go. Now check your email to sign your policy.</h3>
        </div>
        <div layout="column" flex="100">
            <div layout="row" layout-xs="column" flex="100">
                <div class="form-column text-center" layout="column" flex="100">
                    <div class="form-container">
                        <md-button type='submit' class="md-apply-secondary">Annual</md-button>
                        <md-button type='submit' class="md-apply-primary">Semi-annual</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>