%div{:flex => "100", :layout => "column"}
  .title
    .margin-bottom-30{:flex => "100", :layout => "row", "layout-xs" => "column"}
      .container-margin{:flex => "50", "flex-xs" => "100", :layout => "column"}
        .title-text Life insurance in 5 minutes.
        %p Save 20% on your premiums. No Exams.
        %md-input-container.md-block
          %label Enter Email Address
          %input
        .title-block{:flex => "33", "flex-xs" => "100", :layout => "column"}
          .title-block-text
            Get Coverage
