<div>

  <div class="bg-landing-white">
    <div layout="row" layout-align="center center" layout-xs="column" flex="100" style="height: 100%">
      <div class="block" layout="column" flex="100">
        <h1>Life insurance in 90 seconds.</h1>
        <p>Agentless. Examless. Priceless.</p>
      </div>
    </div>
  </div>

  <div class="bg-press">
    <img class="img-press" src="/insurance/onboarding/img/press/forbes.png">
    <img class="img-press" src="/insurance/onboarding/img/press/wsj.png">
    <img class="img-press" src="/insurance/onboarding/img/press/fortune.png">
    <img class="img-press" src="/insurance/onboarding/img/press/nerdwallet.png">
    <img class="img-press" src="/insurance/onboarding/img/press/businessinsider.png">
  </div>

  <div class="bg-testimonial">
    <div layout="row" layout-xs="column" flex="100">
      <div class="block" layout="column" flex="100" flex-xs="100">
        <h4>"I was insured in a couple minutes on my iPhone, I couldn't believe it. My premiums are literally half of what I
          thought they would be!"
        </h4>
        <p>Elizabeth Carter | Raleigh, NC
      </div>
    </div>
  </div>

  <div class="bg-family">
    <div layout="row" layout-xs="column" layout-sm="column" flex="100" style="height: 100%">
      <div class="" layout="column" flex="50" flex-sm="100" flex-xs="100">
        <img class="img-family" src="/insurance/onboarding/img/family-3.png">
      </div>
      <div class="block block-gray" layout="column" flex="50" flex-sm="100" flex-xs="100">
        <h1>We're your carrier, not agent.</h1>
        <p class="small">We approve, underwrite, and carry your policy.
          Choose between <i>accidental</i> and <i>term life</i> insurance at <i>affordable</i> rates.
          You may <i>adjust your coverage</i> anytime as your life progresses. There are <i>no fees ever</i> and
          your <i>premiums are fixed</i> for the term of your policy. You can <i>cancel anytime</i> with one click, no questions
          asked. If you are not happy with your decision or change your mind, we offer a 30-day <i>money back guarantee</i>.</p>
      </div>
    </div>
  </div>


  <!-- 
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="person" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Direct to consumer.</p>
      <i>We approve, underwrite, and carry your policy. You only deal with us directly and not a commissioned agent.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="money_off" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>No fees ever.</p>
      <i>There are no fees charged for issuing, adjusting, or cancelling your policy. Your premium is all you pay.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="beenhere" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Money back guarantee.</p>
      <i>If you are not happy with your decision or change your mind within 30 days, we will refund your money.</i>
    </div>
  </div>
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="local_offer" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Affordable.</p>
      <i>Life insurance is a necessity, so we make sure every family can afford our coverage.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="favorite_border" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Love and trust.</p>
      <i>We have families of our own and understand how important it is to insure their future. That's why we treat our customers like family.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="shopping_cart" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>More selection.</p>
      <i>We offer both accidental and term life insurance. You can change between our products seamlessly.</i>
    </div>
  </div>
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="cancel" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Cancel anytime.</p>
      <i>You can cancel your coverage at any time, no questions asked. One click and your all set.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="gps_fixed" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Fixed Premiums.</p>
      <i>Your payments will never change for the term of your policy. Lock in a lower rate today.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="tune" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Adjust Coverage.</p>
      <i>You may decrease or increase your coverage anytime as your life progresses with a few clicks.</i>
    </div>
  </div>
</div> -->

  <!-- <div layout="row" layout-sm="row" layout-xs="column" flex="100">
    <div class="block" layout="column" flex="100">
      <div class="bg-white">
        <h3>THE ROYAL LIBRARY</h3>
        <p>Not sure if you need life insurance or how much you need?</p>
        <p class="margin-bottom-30">Find out everything you need to know about the advantages of term life insurance and everything in between.</p>
        <md-button href="/learn" class="md-landing-white landing-button">Learn More</md-button>
      </div>
    </div>
  </div> -->

  <div class="landing-access">
    <div layout="row" layout-xs="column" flex="100" style="height: 100%">
      <div class="block" layout="column" flex="50" flex-xs="100">
        <h3>Policies starting at $5 a month.</h3>
      </div>
      <div class="block access-block" layout="column" flex="50" flex-xs="100">
        <h3>Get early access and lock in a lower rate today.</h3>
      </div>
    </div>
  </div>

</div>