<div>

  <div class="bg-landing-white">
    <div layout="row" layout-align="center center" layout-xs="column" flex="100" style="height: 100%">
      <div class="block" layout="column" flex="100">
        <h1>Life insurance in seconds.</h1>
        <p>Agentless. Examless. Priceless.</p>
        <div id="mc_embed_signup">
          <form action="//bequestlife.us16.list-manage.com/subscribe/post?u=cd7307720bd59ec1c7e30ef79&amp;id=f478eea267" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="clear">
                <md-button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="hero-button">Get Early Access</md-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-press">
    <img class="img-press" src="/insurance/onboarding/img/press/forbes.png">
    <img class="img-press" src="/insurance/onboarding/img/press/wsj.png">
    <img class="img-press" src="/insurance/onboarding/img/press/fortune.png">
    <img class="img-press" src="/insurance/onboarding/img/press/nerdwallet.png">
    <img class="img-press" src="/insurance/onboarding/img/press/businessinsider.png">
  </div>

  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div layout="column" flex="50" flex-xs="100">
      <div class="bg-features">
        <h4>Layman's terms.</h4>
        <p>Fixed premiums with no fees ever. Adjust your coverage anytime.</p>
      </div>
    </div>
    <div layout="column" flex="50" flex-xs="100">
      <div class="bg-testimonial">
        <h4>"I was insured in a couple minutes on my iPhone, I couldn't believe it."
        </h4>
        <p>Elizabeth Carter | Raleigh, NC</p>
      </div>
    </div>
  </div>


  <!-- 
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="person" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Direct to consumer.</p>
      <i>We approve, underwrite, and carry your policy. You only deal with us directly and not a commissioned agent.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="money_off" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>No fees ever.</p>
      <i>There are no fees charged for issuing, adjusting, or cancelling your policy. Your premium is all you pay.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="beenhere" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Money back guarantee.</p>
      <i>If you are not happy with your decision or change your mind within 30 days, we will refund your money.</i>
    </div>
  </div>
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="local_offer" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Affordable.</p>
      <i>Life insurance is a necessity, so we make sure every family can afford our coverage.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="favorite_border" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Love and trust.</p>
      <i>We have families of our own and understand how important it is to insure their future. That's why we treat our customers like family.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="shopping_cart" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>More selection.</p>
      <i>We offer both accidental and term life insurance. You can change between our products seamlessly.</i>
    </div>
  </div>
  <div layout="row" layout-xs="column" flex="100" style="height: 100%">
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="cancel" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Cancel anytime.</p>
      <i>You can cancel your coverage at any time, no questions asked. One click and your all set.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="gps_fixed" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Fixed Premiums.</p>
      <i>Your payments will never change for the term of your policy. Lock in a lower rate today.</i>
    </div>
    <div class="block feature-block" layout="column" flex="33" flex-xs="100">
      <ng-md-icon icon="tune" style="fill: #8000ff" size="40px"></ng-md-icon>
      <p>Adjust Coverage.</p>
      <i>You may decrease or increase your coverage anytime as your life progresses with a few clicks.</i>
    </div>
  </div>
</div> -->

</div>