<div>

  <div class="bg-landing">
    <div layout="row" layout-align="center center" layout-sm="column" layout-xs="column" flex="100" style="height: 100%">
      <div class="block block-margin" layout="column" flex="50" flex-sm="100" flex-xs="100">
        <h1>BEQUEST LIFE.</h1><br>
        <p>Royally simple term life and AD&D insurance in under 5 minutes.</p>
        <p class="margin-bottom-30">No exams with policies starting at $5 a month.</p>
        <div id="mc_embed_signup">
          <form action="//bequestlife.us16.list-manage.com/subscribe/post?u=cd7307720bd59ec1c7e30ef79&amp;id=f478eea267" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="clear">
                <md-button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="md-landing landing-button">Get Early Access</md-button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="block" layout="column" flex="50" flex-sm="100" flex-xs="100">
        <img class="img-family" src="/insurance/onboarding/img/family.png">
      </div>
    </div>
  </div>

  <div class="bg-press">
    <img class="img-press" src="/insurance/onboarding/img/press/forbes.png">
    <img class="img-press" src="/insurance/onboarding/img/press/wsj.png">
    <img class="img-press" src="/insurance/onboarding/img/press/fortune.png">
    <img class="img-press" src="/insurance/onboarding/img/press/nerdwallet.png">
    <img class="img-press" src="/insurance/onboarding/img/press/businessinsider.png">
  </div>

  <div layout="row" layout-sm="row" layout-xs="column" flex="100">
    <div class="block" flex-offset="15" flex-offset-sm="5" flex-offset-xs="0" layout="column" flex="70" flex-sm="90" flex-xs="100">
      <div class="bg-landing-2">
        <h3>LEAVE YOUR LEGACY.</h3>
        <p>59% of Americans don't have life insurance or are underinsured. Be the right statistic.</p>
        <p class="margin-bottom-30">Help your spouse and family cover their living expenses, debt, education, and everything in between. Buy what your family needs or what you can afford today.</p>
        <!-- <md-button class="md-landing-white landing-button">Learn More</md-button> -->
      </div>
    </div>
    <div flex></div>
  </div>

  <div layout="row" layout-sm="column" layout-xs="column" flex="100">
    <div class="block" layout="column" flex="33" flex-sm="100" flex-xs="100">
      <div class="bg-gray-2 text-center">
        <h3>PREMIUMS NEVER CHANGE.</h3>
        <p>Adjust your coverage and payment frequency anytime. Add additional policies as you progress in life. Cancel your
          coverage online with one click and renew again in minutes.</p>
          <img class="img-sync" src="/insurance/onboarding/img/sync.png">
      </div>
    </div>
    <div class="block" layout="column" flex="33" flex-sm="50" flex-xs="100">
      <div class="bg-white-2 text-center">
        <h3>SUBMIT CLAIMS IN MINUTES.</h3>
        <p>Your beneficiaries upload a few documents and we transfer the funds in lump sum or installments. We direct them to
          simple financial advise on taxes, investing, and debt consolidation.</p>
          <img class="img-time" src="/insurance/onboarding/img/time.png">
      </div>
    </div>
    <div class="block" layout="column" flex="33" flex-sm="50" flex-xs="100">
      <div class="bg-white-2 text-center">
        <h3>NO FAMILY YET?</h3>
        <p>If your dating profile says you want kids someday, lock in a lower rate today and save dramatically over the term
          of your policy. Act like a king or queen to your future family.</p>
          <img class="img-family-2" src="/insurance/onboarding/img/family-2.png">
      </div>
    </div>
  </div>

  <div layout="row" layout-xs="column" flex="100">
    <div class="block" layout="column" flex="50" flex-xs="100">
      <div class="bg-white">
        <h3>DON'T RUN THE GAUNTLET.</h3>
        <p class="margin-bottom-30">We approve and underwrite your policy ourselves. No agents, no middlemen, no hassle. Save time, your most valuable
          asset.
        </p>
        <!-- <md-button href="/about" class="md-landing-white landing-button">Our Story</md-button> -->
      </div>
    </div>
    <div class="block" layout="column" flex="50" flex-xs="100">
      <div class="bg-landing-3">
        <h3>THE ROYAL LIBRARY.</h3>
        <p class="margin-bottom-30">Not sure if you need life insurance or how much you need? Find out everything you need to know about the advantages
          of term life insurance and everything in between.</p>
        <!-- <md-button href="/learn" class="md-landing landing-button">Learn More</md-button> -->
      </div>
    </div>
  </div>

  <!-- <div class="bg-testimonial">
    <div class="block" layout="row" layout-xs="column" flex="100">
      <div class="block" layout="column" flex="100" flex-xs="100">
        <p>"Not only did it take me less than 5 minutes to get coverage, the premium was way less than I thought it would be!"
        </p>
        <p>- Elizabeth Carter
      </div>
    </div>
  </div> -->

  <div class="bg-signup">
    <div layout="row" layout-xs="column" flex="100">
      <div class="block" layout="column" flex="100" flex-xs="100">
        <h3>POLICIES STARTING AT $5 A MONTH.</h3>
        <p>Get term life and AD&D insurance in minutes with no exams.</p>
        <div id="mc_embed_signup">
          <form action="//bequestlife.us16.list-manage.com/subscribe/post?u=cd7307720bd59ec1c7e30ef79&amp;id=f478eea267" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="clear">
                <md-button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="md-landing-white landing-button">Get Eary Access</md-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>