<div class="bg-learn">
    <h3>LIFE INSURANCE 101</h3>
</div>

<div class="faq-container">
    <div layout="row" layout-xs="column" flex="100">
        <div class="block " layout="column" flex="50" flex-xs="100">
            <div class="faq-block">
                <h2>Why choose a term life insurance policy?</h2>
                <p>Term life is a more affordable option than whole or permanent life insurance,
                    and situations change over time, so most people reassess their needs and update their life insurance
                    policies every decade.</p>
            </div>
            <div class="faq-block">
                <h2>I have life insurance through my employer. Why do I need more?</h2>
                <p>Your work policy is generally based on your income. It doesn’t necessarily take into account all of your
                    responsibilities or debts. If you have student loans, a mortgage, or want to make sure you kids can afford
                    college, make sure your employer-provided coverage is sufficient.</p>
            </div>
            <div class="faq-block">
                <h2>How much life insurance do I need?</h2>
                <p>It depends on your situation. You should consider any immediate expenses in the event that you die, like
                    hospital bills, funeral costs, and estate taxes. There are also ongoing expenses to consider, like mortgages,
                    food, tuition, student loans, and credit card debt. And in some cases there are extra expenses that arise
                    from you not being around anymore, like childcare costs and household maintenance. That’s especially
                    true if one parent currently stays at home with the kids. Given all these factors, how much insurance
                    you need is entirely dependent on your unique circumstances.</p>
            </div>
            <div class="faq-block">
                <h2>What’s the difference between term and permanent life insurance?</h2>
                <p>Term life is the type you’re probably most familiar with. It lasts for a set amount of time, typically either
                    10, 20, or 30 years. If you have a term life insurance policy and die from a covered cause during that
                    time, your beneficiaries will receive a set amount of money. Permanent life insurance covers you throughout your entire lifetime and is also called whole life insurance.
                    With term life, you get more protection for your money, and any savings can be set aside or used for
                    other investment options.</p>
            </div>
            <div class="faq-block">
                <h2>Are there different types of term life insurance?</h2>
                <p>years. A common type is called level term life insurance. With level term, the payout remains the same from
                    the start of the term until it expires. If you have a 10-year policy and the payment is $15 a month,
                    you’ll pay $15 a month for 10 years, and the payout is the same whether you die in year one or year 10.
                    Annual renewable term life insurance lasts for one year. As you age and renew coverage, the premiums
                    usually rise. Another option is decreasing term life insurance, in which the payout decreases as you
                    age.
                </p>
            </div>
            <div class="faq-block">
                <h2>Is a term life insurance payout taxable?</h2>
                <p>No. The payout your beneficiaries receive is usually tax-free. Talk to your tax consultant
                    to make sure that’s true for you.</p>
            </div>
        </div>
        <div class="block" layout="column" flex="50" flex-xs="100">
            <div class="faq-block">
                <h2>What's a beneficiary?</h2>
                <p>A beneficiary is the person or people you choose to get your life insurance benefits if you die.</p>
            </div>
            <div class="faq-block">
                <h2>Who do people choose as beneficiaries?</h2>
                <p>A beneficiary is usually a spouse, partner, or relative, but it can also be a trust, charity, or your estate.
                    Children can be beneficiaries too. Many policies handle paying benefits to minors very differently, like
                    putting the money in a trust until they become an adult. You should talk to an attorney if you have questions.</p>
            </div>
            <div class="faq-block">
                <h2>Are there different kinds of beneficiaries?</h2>
                <p>There are two kinds of beneficiaries: primary and contingent. The primary beneficiary is the person, people,
                    or entity who gets the life insurance benefits if you die. The contingent beneficiary (also known as
                    a secondary beneficiary) won’t get a payout if any of your primary beneficiaries are still alive when
                    you die. Think of your contingent beneficiary or beneficiaries as the backup plan for the worst case
                    scenario.
                </p>
            </div>
            <div class="faq-block">
                <h2>What do my beneficiaries get?</h2>
                <p>You decide how much your beneficiaries get in your policy. If you decide to list more than one beneficiary,
                    you can choose what percentage you’d like each to receive. So if you have a $200,000 policy and list
                    your spouse and your sibling as 50/50 beneficiaries, they would each get $100,000. Or you could choose
                    to give 75% to your spouse and 25% to your sibling.</p>
            </div>
            <div class="faq-block">
                <h2>Can my policy be canceled?</h2>
                <p>Customers can cancel a policy anytime they like. Insurance companies generally only cancel your policy for
                    fraud or if you stop paying your premiums. There’s a grace period if you’re late on payments, so depending
                    on your state and carrier, you’ll have anywhere between 30 and 90 days to pay. If you cancel, you don’t
                    get a payout and will likely pay a higher premium rate if you apply again due to your age. Your policy will have the exact details
                    on the grace period offered.</p>
            </div>
            <div class="faq-block">
                <h2>Will my premiums increase over the term of my policy?</h2>
                <p>Not with level term policies. Your monthly premium will be the same from beginning to end.</p>
            </div>
        </div>
    </div>
</div>