<div class="bg-learn">
        <div layout="row" layout-xs="column" flex="100">
            <div class="block" layout="column" flex="66" flex-xs="100">
                <h3>LIFE INSURANCE 101</h3>
            </div>
        </div>
    </div>
    
    <div class="bg-about-2">
        <div layout="row" layout-xs="column" flex="100">
            <div class="block " layout="column" flex="50" flex-xs="100">
                <div class="landing-block">
                </div>
            </div>
            <div class="block" layout="column" flex="50" flex-xs="100">
                <div class="landing-block">
                </div>
            </div>
        </div>
    </div>