<div class="bg-learn">
    <h1>Our kingdom is expanding.</h1>
    <p class="margin-bottom-30">During 2018, we will be expanding our coverage across the nation. Subscribe below to get early access in your state.</p>
</div>

<div class="container-50">
    <div layout="row" layout-xs="column" flex="100">
        <div class="block" layout="column" flex="100" flex-xs="100">
            <img class="img-nation" src="/insurance/onboarding/img/map.png">
        </div>
    </div>
</div>

<div class="container-nation">
    <h3>Coming soon to:</h3>
    <p>Alabama, Arizona, California, Colorado, Florida, Georgia, Illinois, Indiana, Louisiana, Maryland, Massachusetts, Michigan,
        Minnesota, Missouri, New Jersey, New York, Ohio, Pennsylvania, South Carolina, Tennessee, Texas, Virginia, Washington,
        Wisconsin.
    </p>
</div>