<div class="bg-learn">
    <h3>Privacy policy.</h3>
</div>
<div class="bg-terms">
    <p>Welcome to Bequest Life. When you use our Site, you trust us with your information. This privacy policy is meant to help
    you understand what data we collect, why we collect it, and what we do with it. This is important, and we hope you will
    take time to read it carefully.</p>
    <p>DEFINITIONS</p>
    <p>“Bequest Life” or “us” or “our” or “we” refers to Bequest Life Inc and each of its subsidiaries and affiliates. “Site” means
    www.bequestlife.com and any other Internet sites operated by us, our online services, mobile services, and software.
    “You” and “your” means the user of this Site. “Personal information” refers to information that can be used on its own
    or with other information to identify, contact or locate you. For example, personal information includes your name, email
    address, phone number, date of birth, address, social security number, driver’s license number, credit card number, or
    other data which can be reasonably linked to you.</p>
    <p>INFORMATION WE COLLECT</p>
    <p>We collect information to provide better services to all of our users, and we collect that information in the following
        ways:</p>
    <p>INFORMATION YOU GIVE US</p>
    <p>We collect personal information from you when you register for a Bequest Life account and apply for insurance products
        and services through our Site. For example, when you register for a Bequest Life account, we’ll ask you for your
        name and e-mail address, and when you apply for insurance products and services, we’ll ask you for your date of birth,
        social security number, address, phone number, driver’s license number, employment, financial, family and housing
        information, existing life and health insurance coverage information, activity information, health information, bank
        account and/or credit card information, and other information. We may also collect information from you during your
        subsequent use of our Site, or when we communicate with you via telephone, e-mail or other means.</p>
    <p>INFORMATION WE COLLECT FROM THIRD PARTIES</p>
    <p>When you register for a Bequest Life account and/or apply for the insurance products and services offered through our
        Site, we will collect information from third parties to, among other things, verify your identity; assist in the
        underwriting of your application; make eligibility, risk rating, policy issuance and enrollment determinations; obtain
        reinsurance; administer coverage; administer claims; protect against fraud; and conduct other legally permissible
        activities. In addition, if another company refers you to us, we may collect your information from that company in
        order to process your application for the insurance products and services offered through our Site. We generally
        collect your identifying information (for example, your name, address, e-mail, telephone number, date of birth, social
        security number, and employment information), bank account information, financial information, health information,
        driving record, criminal history, activity information, and other personal information from these third parties.
        You agree that by using our Site, services and products, you are granting us the right, power, and authority to act
        on your behalf to access and transmit your personal and financial information from your financial institution.</p>
    <p>INFORMATION WE COLLECT BASED ON YOUR ACTIVITY ON OUR SITE</p>
    <p>In order to provide our services to you, improve our business and maintain records required by law, we collect information
        about your transactions and activity. For example, we collect information about your computer and your visits to
        the Site, such as your IP address, geographical location, browser type, referral source, length of visit, button
        clicks, mouse movement and page views. In addition, we collect device-specific information such as hardware model,
        operating system version, unique device identifiers, mobile network information including phone number, and information
        about your payment history.</p>

    <p>We and our marketing partners and service providers use technologies such as cookies, beacons, tags, and scripts, to
        analyze trends, administer our Site, track users’ movements around our Site, and gather demographic information about
        our user base as a whole. We may receive reports on this activity on an individual and aggregated basis. We use cookies
        when you sign in to your Bequest Life account to keep track of your personal session, help authenticate your account,
        and detect fraud. Cookies are also used to gather statistical data, such as which pages are frequently visited, what
        is downloaded, and the address of sites visited immediately before or after coming to our Site. You can control the
        use of cookies within your web browser. However, if you reject cookies, your ability to use some features or areas
        of our Site may be limited.</p>

    <p>We may collect and store information (including personal information) locally on your device using mechanisms such as
        browser web storage. Various browsers may offer their own management tools for removing browser web storage.</p>

    <p>We also partner with third parties to manage our advertising on other websites and evaluate the overall performance of
        our Site. Our third party partners may use technologies such as cookies to gather information about your activities
        on our Site and other sites in order to provide you advertising based upon your browsing activities and interests
        or help us track the success of our marketing efforts or overall Site performance.</p>

    <p>Although we do our best to honor the privacy preferences of our users, because we believe that there is a consistent
        industry standard for how to respond to Do Not Track browser settings, we are not able to process or respond to such
        signals from your browser at this time.</p>
    <p>HOW WE USE INFORMATION WE COLLECT</p>
    <p>We use the information we collect to provide, maintain, protect and improve our Site, products and services; to develop
        new products and services; and to protect us and our users. This may include processing your application for life
        insurance; servicing your Bequest Life policy; enabling automatic payments and funds transfers with financial institutions;
        communicating with you concerning your Bequest Life account and transactions; and addressing any disputes you may
        raise concerning your Bequest Life account or the products and services offered through our Site.</p>

    <p>We may also use your personal information to select you for certain marketing offers, newsletters, surveys and/or requests
        for feedback regarding your experience. We may use your personal information both to select you for an offer and
        to communicate that offer to you. Receipt of these communications is voluntary. If you do not wish to receive these
        communications please click on the “unsubscribe link” provided in such communications.</p>
    <p>HOW WE SHARE YOUR INFORMATION</p>
    <p>We do not share your information with companies, organizations and individuals outside of Bequest Life unless one of
        the following circumstances applies:</p>
    <p>WITH YOUR CONSENT</p>
    <p>We will share your information with companies, organizations or individuals outside of Bequest Life when we have your
        consent to do so.</p>
    <p>AS NECESSARY TO PROVIDE YOU THE PRODUCTS AND SERVICES YOU REQUEST</p>
    <p>We will share your information with life insurance companies, reinsurance companies and their respective administrators,
        vendors, agents and third party service providers, including but not limited to insurance support organizations,
        that are engaged in services related to underwriting and issuing life insurance policies as needed to provide you
        the insurance products and services you request.</p>

    <p>We will also share your information with third-party vendors, agents and other service providers that perform services
        on our behalf, as needed to carry out their work for us, which may include billing, payments, background check services,
        service fulfillment, web hosting or providing analytic services. We provide only as much information as is needed
        for these third-party vendors, agents and other service providers to perform services on our behalf.</p>

    <p>In addition, if you were referred to us by another company, we will share your information with that company as necessary
        to honor the terms of our agreement with that company and to provide you the insurance products and services you
        request.</p>
    <p>FOR LEGAL REASONS</p>
    <p>We may share your information with companies, organizations or individuals as required by law or subpoena or if we reasonably
        believe that such action is necessary to (i) comply with, any applicable law, regulation, legal process or governmental
        request; (ii) enforce our Terms, detect, prevent or address fraud, or to protect the security or integrity of our
        Site and the products and services offered through our Site; and/or (iii) exercise or protect the rights, property,
        or personal safety of us, our users or others.</p>
    <p>IN CONNECTION WITH OUR SALE OR OTHER SIGNIFICANT TRASACTIONS
        <p>
            <p>We may share your information with companies, organizations or individuals in connection with a significant transaction,
                such as a merger, sale of our assets or shares, reorganization, financing, change of control or acquisition
                of all or a portion of our business by another company or third party or in the event of a bankruptcy or
                related or similar proceedings.</p>
            <p>WITH OUR AFFILIATES</p>
            <p>We may share your information with other companies owned by or under common ownership as Bequest Life. These
                companies will use your personal information in the same way as we can under this policy.</p>
            <p>WE HAVE ANONYMIZED THE DATA</p>
            <p>We may also aggregate or otherwise strip data of all personally identifying characteristics and may share that
                aggregated, anonymized data with other companies, organizations or individuals.</p>
            <p>YOUR CHOICES ABOUT YOUR INFORMATION</p>
            <p>If you do not want to receive promotional emails from us, you may stop receiving such emails by clicking on the
                “unsubscribe link” provided in such emails. We make every effort to promptly process all unsubscribe requests.
                You may not, however, opt out of service-related emails and communications (for example, you may not opt
                out of emails related to account verification, changes/updates to features of our Site or products or services,
                technical and security notices or that provide other transactional information).</p>

            <p>We will retain your information for as long as your account is active or as needed for legitimate business or
                legal purposes. We may also reject requests related to updating or deleting information that are unreasonably
                repetitive, require disproportionate technical effort (for example, fundamentally changing an existing practice),
                risk the privacy of others, or would be extremely impractical (for example, requests concerning information
                residing on backup systems).</p>

            <p>information, you may contact us by e-mail <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>
            <p>INFORMATION SECURITY</p>
            <p>We maintain commercially reasonable administrative, physical, and technical safeguards designed to prevent any
                unauthorized use, access, processing, destruction, loss, alteration, or disclosure of the data and information
                you provide us. In the event that any data or information under our control is compromised as a result of
                a breach of security, we will investigate the situation and where appropriate, notify those individuals whose
                information may have been compromised and take other steps, in accordance with any applicable laws and regulations./p>
                <p>CHILDREN’S PRIVACY</p>
                <p>We do not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow
                    such persons to register for a Bequest Life account. In the event that we learn that we have collected
                    personal information from a child under age 13, we will delete that information as quickly as possible.
                    If you believe that we might have any information from a child under age 13, please contact us by e-mail
                    <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>

                <p>THIRD-PARTY PRACTICES</p>
                <p>This Site contains links to other Internet sites that are not maintained by us. Unless otherwise stated,
                    we make no warranties or representations regarding these websites or the products or services offered
                    on them. We do not control the privacy or security practices of third parties, or the locations where
                    they process data. You should read the privacy and security policies of the other sites, as their practices
                    may differ from ours.</p>
                <p>CONTACTING US</p>
                <p>If you have any questions regarding this privacy policy or our practices, please contact us by e-mail
                    <a
                        href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>

                <p>CHANGES</p>
                <p>Any changes to this policy become effective when posted to the Site. If you have registered for an account
                    through the Site, we will notify you of any material changes to this policy by using any of the contact
                    information you have provided to us or by posting a message on the Site’s home page. In addition, we
                    will update the “last modified” date at the bottom of this page. Your continued use of the Site or our
                    products and services following the update means that you accept our updated policy.</p>

                <i>This privacy policy was last modified on September 1, 2017.</i>

</div>