<div class="bg-learn">
    <h3>Terms of service.</h3>
</div>
<div class="bg-terms">
    <p>ACCEPTANCE</p>
    <p>These Terms apply to your use of this Site. By visiting or using this Site, or otherwise indicating your agreement to
        be bound by these Terms, you are acknowledging that you have read, understood, and accept the Terms. Continued use
        of the Site constitutes your acceptance of any revisions to these Terms.</p>
    <p>DEFINITIONS</p>
    <p> “Bequest Life” or “us” or “our” or “we” refers to Bequest Life Inc and each of its affiliates. “Site” means www.bequestlife.com
        and any other Internet sites operated by us, our online services, mobile services, and software. “You” and “Your”
        means the user of this Site. </p>
    <p>LIMITATIONS OF USE</p>
    <p>The Site is intended solely for use by United States residents who are at least 18 years of age and have otherwise reached
        the age of majority. You agree to use the Site only for lawful purposes. You may not use the Site in any way that
        would constitute a violation of any applicable law, regulation, rule or ordinance of any nationality, state or locality
        or of any international law or treaty, or that could give rise to any civil or criminal liability. Any unauthorized
        use of this Site, including but not limited to unauthorized entry into our systems, misuse of passwords, or misuse
        of any information posted on the Site is strictly prohibited.
    </p>

    <p>We may change the Site, stop offering products and services through the Site, or create usage limits for the Site without
        prior notice. We may permanently or temporarily terminate or suspend your access to the Site without notice and liability
        for any lawful reason, including if in our sole determination you violate any provision of these Terms, or for no
        reason if lawfully permitted. Upon any such termination, you continue to be bound by these Terms. Notwithstanding
        the foregoing, any such suspension, termination, or other change to the Site shall not be with respect to and shall
        not affect any products and services, including insurance coverage, you’ve already obtained through the Site. </p>
    <p>COLLECTION AND USE OF PERSONAL INFORMATION</p>
    <p>Your use of the Site, including your application for the products and services offered through the Site, may involve
        the transmission to us of certain personally-identifiable information. Our policies with respect to our collection
        and use of such information are set forth in our <a href=”/privacy”>Privacy Policy</a>, which is hereby incorporated
        by reference in its entirety. </p>
    <p>WEBSITE SECURITY</p>
    <p>We maintain commercially reasonable administrative, physical, and technical safeguards designed to prevent any unauthorized
        use, access, processing, destruction, loss, alteration, or disclosure of the data and information you provide us.
        In the event that any data or information under our control is compromised as a result of a breach of security, we
        will investigate the situation and where appropriate, notify those individuals whose information may have been compromised
        and take other steps, in accordance with any applicable laws and regulations.
    </p>
    <p>INSURANCE PRODUCTS</p>
    <p>Eligible individuals may apply for insurance products through the Site. Insurance products are only available to people
        in those jurisdictions in which they may be legally sold. With respect to any insurance product, if any term or condition
        of these Terms differ from the terms and conditions of the policy, the policy’s provisions will control. With respect
        to the insurance products offered through the Site, you may report any complaints to the insurance regulator in your
        state. Contact information for state insurance regulators in the United States may be found at www.naic.org. </p>

    <p>Bequest Life Term Life and Accidental Death and Dismemberment Insurance Policies are underwritten and issued by Bequest
        Life Inc and offered exclusively through the Site. Product information and descriptions contained within the Site
        are not intended to be complete descriptions of all applicable terms, exclusions and conditions, but are provided
        solely for general informational purposes. If you purchase a Bequest Life policy, you should refer to the actual
        policy for complete details of coverage. Approval of your application is not guaranteed and is subject to acceptance
        by Bequest Life based upon its underwriting guidelines and your personal health history. Bequest Life Inc is a licensed
        North Carolina insurance agency (license number TBD), and Bequest Life policies are administered by Bequest Life
        Inc. </p>

    <p>We do not provide forms of professional advice of the type that may require additional professional licensing, such as
        legal, medical, accounting, or tax advice. The Site does not contain any legal, regulatory, accounting, or tax advice,
        and you must rely solely upon your own advisors with respect to such advice. </p>
    <p>CONSENT TO DOING BUSINESS ELECTRONICALLY</p>
    <p>In connection with the products and services offered through the Site, from time to time you will receive disclosures,
        notices, documents (including your application and insurance policy, if one is issued) and other information (“Communications”)
        from us. The benefits of the products and services offered through the Site are available only by conducting business
        through the Internet, and therefore we need your consent to conduct business electronically. This section informs
        you of your rights when receiving electronic Communications. </p>

    <p>As used in this section entitled “Consent to Doing Business Electronically”, “we” or “us” refers not just to Bequest
        Life, but also Bequest Life’s agents and affiliates. </p>
    <p>SCOPE OF CONSENT</p>
    <p>You agree that all Communications from us relating to the products and services, including insurance products, offered
        through the Site may be provided or made available to you electronically by e-mail or at the Site. You further agree
        that we may accept an electronic signature from you, and that this electronic signature will have the same effect
        as a physical wet signature and will appear on all records related to the provision of any such products and services.
        Your consent also applies to all Communications and information that we receive from you. Your consent is voluntary
        and, if you consent, you still have the right to receive a free paper copy of any Communication by contacting us
        in the manner described below. </p>
    <p>HARDWARE AND SOFTWARE REQUIREMENTS</p>
    <p>To access and retain Communications, you must: </p>
    <ul>
        <li>Have access to a computer capable of running a current Internet browser; .</li>

        <li>Have access to Internet service and an e-mail account that can be used to receive and access all Communications;
            .
        </li>

        <li>Be able to view all Communications on a monitor through the use of Adobe Reader or similar software and be able to
            print all such Communications; and.</li>

        <li>Be able to send and receive e-mails that contain hyperlinks to websites.</li>

    </ul>
    <p>If you are accessing the Site electronically through a mobile device, such as a tablet, smartphone or similar device,
        you must be able to print and save the transmitted Communications. You can find apps that support printing and saving
        for most mobile devices through your mobile device’s app store. If your mobile device does not have this functionality,
        you must access the Site through alternate means that provide you with the ability to print and save the Communications.
        You acknowledge that you can access the electronic Communications in the designated formats described herein. </p>
    <p>WITHDRAWING CONSENT</p>
    <p>You may withdraw your consent to receive Communications electronically and to use an electronic signature at any time.
        If you withdraw your consent, from that time forward (i) you will be unable to apply for products and services, including
        insurance products, through the Site, and (ii) we will be unable to continue to process any pending applications
        for products and services, including insurance products. To withdraw your consent to do business electronically,
        please send us a written notice by e-mail <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>

    <p>CONTACT INFORMATION</p>
    <p>Bequest Life can be contacted at www.bequestlife.com. Please keep us informed of any changes in your e-mail address so
        that you can continue to receive all Communications without interruption. To notify us of changes in your e-mail
        address, please send a written notice by e-mail <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>
    <p>YOUR OBLIGATIONS AND AUTHORIZATIONS</p>
    <p>You do not need to register with us to visit and view the Site. However, to access certain password-protected areas of
        the Site and to apply for the products and services offered through the Site, you must register for an account. When
        registering for an account through the Site, you must provide accurate and complete information, and you must keep
        this information up to date. You are solely responsible for the activity that occurs on your account, and you must
        keep your account password secure. You must notify us immediately of any breach of security or unauthorized use of
        your account. We will not be liable for any losses caused by any unauthorized use of your account. </p>

    <p>In order to access or use certain aspects of the Site, we may need your authorization to (i) collect information provided
        by you through the Site, including certain personal information, personal health information, signatures, data, passwords,
        usernames, PINs, and other information, materials, and content necessary for us to provide the products and services
        offered through the Site to you, and (ii) retrieve and manage information of yours maintained by certain third-party
        institutions, other life insurance companies, reinsurers and/or their vendors and third party administrators (“Your
        Data”). You hereby grant us a non-exclusive, royalty-free license under any applicable intellectual property rights
        to use Your Data solely in connection with the provision of the products and services offered through the Site. </p>

    <p>You represent and warrant that the portion of Your Data you provide us is accurate and complete, and that you are authorized
        to submit it to us without any obligations on us, including but not limited to the payment of fees. We have no liability
        or other responsibility for inaccuracy or incompleteness, or your inability to use the Site due to such inaccuracy
        or incompleteness. You are and will be responsible for the consequences of any instructions you provide us and that
        we follow. In order to connect the Site with any third-party service, you hereby authorize us to: (i) store Your
        Data in accordance with applicable laws, (ii) use any signatures or other materials you provide us in order to provide
        you the products and services offered through the Site, (iii) gather and export from such third party service any
        data or other information reasonably necessary for us to provide the products and services offered through the Site
        to you, and (iv) otherwise take any action in connection with such third party service as reasonably necessary for
        us to provide the products and services offered through the Site to you. You agree that those third-party service
        providers are entitled to rely on the foregoing authorization, agency, and power of attorney granted by you. While
        the Site may be endorsed by the third-parties with whom Your Data is held from time to time, you should not assume
        that we are working directly with the third-party or that the third-party has sponsored or endorsed the Site or our
        interaction with the third-party’s services at your direction. You also understand you are providing written instructions
        in accordance with the Fair Credit Reporting Act and other applicable law for us or our authorized representatives
        to request and receive copies of consumer reports, scores, and related information about you from third parties.
        We or our authorized representatives may release information to our plan administrators, business associates, insurance
        companies, reinsurers, or others.
    </p>
    <p>PROHIBITED ACTIVITIES</p>
    <p>You agree that you will not: (i) register for an account on behalf of somebody other than yourself, (ii) impersonate
        another person or otherwise misrepresent your affiliation with a person or entity, conduct fraud, hide or attempt
        to hide your identity, (iii) use or attempt to use another’s account without authorization from that person and us,
        (iv) copy, distribute, or disclose any part of the Site in any medium, including without limitation by any automated
        or non-automated “scraping”, (v) use any automated system, including without limitation “robots,” “spiders,” “offline
        readers,” etc., to access the Site in a manner that sends more request messages to our servers than a human can reasonably
        produce in the same period of time by using a conventional on-line web browser (except that we grant the operators
        of public search engines revocable permission to use spiders to copy publicly available materials from the Site for
        the sole purpose of and solely to the extent necessary for creating publicly available searchable indices of the
        materials, but not caches or archives of such materials), (vi) transmit spam, chain letters, or other unsolicited
        email, (vii) attempt to interfere with, compromise the system integrity or security or decipher any transmissions
        to or from the servers running the Site, (viii) take any action that may impose an unreasonable or disproportionately
        large load on our infrastructure, as determined by us, (ix) upload invalid data, viruses, worms, or other software
        agents through the Site, (vii) collect or harvest any personally identifiable information, including account names,
        from the Site, (x) use the Site for any commercial solicitation purposes, (xi) use the Site in order to obtain information
        about us, the Site, or our customers for the purpose of competing with us or otherwise replicating some or all of
        the Site for any reason, (xii) interfere with the proper working of the Site, (xiii) access any content on the Site
        through any technology or means other than those provided or authorized by the Site, or (xiv) bypass the measures
        we may use to prevent or restrict access to the Site, including without limitation features that prevent or restrict
        use or copying of any content or enforce limitations on use of the Site or the content.
    </p>
    <p>INTELLECTUAL PROPERTY</p>
    <p>Unless otherwise stated, we do not accept unsolicited ideas, suggestions, or materials relating to development, design,
        or marketing of our services and products. Any such postings to the Site will be considered non-confidential and
        non-proprietary, and will remain, our exclusive property. We may copy, disclose, distribute, incorporate, and otherwise
        use the item and any information contained therein for any purpose without compensation. The entire Site is our copyrighted
        work. Unless otherwise specified, no person has permission to copy, display, distribute, republish, or create derivative
        works from such information in any form. </p>

    <p>By providing content, we do not allow you to use trademarks referenced in the Site. You may not use meta tags or any
        other “hidden text” using our name or trademarks without our express written permission. The trademarks, logos, and
        service marks (the “Marks”) displayed on the Site are our or other third parties’ property. You are prohibited from
        using any Marks without the express written permission of us or the third party that owns the Marks. We respect the
        copyright interests of others. It is our policy to respond to notices of alleged infringement that comply with the
        Digital Millennium Copyright Act. If you believe that any material contained on the Site may infringe on your copyright,
        you must provide us notice in writing of the following: (i) identification of the copyrighted work claimed to have
        been infringed, (ii) identification of the allegedly infringing material, (iii) information sufficient to permit
        us to locate the infringing material, (iv) a statement that the complaining party has a good faith belief that use
        of the material is not authorized or permissible by law, and (v) a statement that the information in the notification
        is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the copyright
        owner, agent, or licensee. Anyone who knowingly misrepresents that material is infringing in such a notice will be
        liable for any damages and any associated costs incurred by us. Written notice must be sent to us by email <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>.</p>
    <p>THIRD-PARTY PRACTICES</p>
    <p>This Site contains links to other Internet sites that are not maintained by us. Unless otherwise stated, we make no warranties
        or representations regarding these websites or the products and services offered on them. We do not control the privacy
        or security practices of third parties, or the locations where they process data. You should read the privacy and
        security policies of the other sites, as their practices may differ from ours. </p>
    <p>DISCLAIMER OF WARRANTIES AND LIMITATIONS OF LIABILITY</p>
    <p>The Site is provided by us on an “as is” and “as available” basis. To the full extent permissible by applicable law,
        we disclaim all warranties, express or implied, including, but not limited to, implied warranties of merchantability,
        fitness for a particular purpose or non-infringement of intellectual property. We do not represent or warrant that
        the Site or its content is error free, that defects will be corrected, or that the Site is free of viruses or other
        harmful code. </p>

    <p>Under no circumstances will we, our agents, providers or their respective officers, directors employees, agents, independent
        contractors or licensors (the “Bequest Life Parties”) be liable to you or anyone else for damages of any kind arising
        from your use of the Site, your inability to use the Site, or circumstances beyond our control, including, but not
        limited to direct, indirect, incidental, punitive and consequential damages, even if the Bequest Life Parties are
        expressly advised of the possibility of such damages. The Bequest Life Parties will not be liable for any defamatory,
        offensive or illegal conduct of any user. Your sole remedy for dissatisfaction with the Site is to stop using the
        Site. If your use of materials from the Site results in the need for servicing, repair or correction of equipment
        or data, you assume any costs thereof. Some jurisdictions do not allow the exclusion or limitation of liability for
        negligence, consequential, incidental or other damages. In such jurisdictions, our liability is limited to the greatest
        extent permitted by law.
    </p>
    <p>INDEMNIFICATION</p>
    <p>You agree to indemnify and hold harmless Bequest Life Parties from and against any and all claims, losses, expenses,
        demands or liabilities, including attorneys’ fees and costs, incurred by the Bequest Life Parties in connection with
        any claim by a third party (including any intellectual property claim) arising out of: (i) materials and content
        you submit to, post to or transmit through the Site, or (ii) your use of the Site in violation of these Terms or
        in violation of any applicable law. You further agree that you will cooperate fully in the defense of any such claims.
        The Bequest Life Parties reserve the right, at their own expense, to assume the exclusive defense and control of
        any matter otherwise subject to indemnification by you, and you shall not in any event settle any such claim or matter
        without the prior written consent of us. You further agree to indemnify and hold harmless the Bequest Life Parties
        from any claim arising from a third party’s use of information or materials of any kind that you post to the Site.
        </p>
    <p>PERMISSION TO CONTACT</p>
    <p>When you give us your home and/or mobile phone number, we have your permission to contact you at that number or numbers,
        and any other number we believe we may reach you through (unless prohibited by applicable law), about your Bequest
        Life account. Your consent allows us to use text messaging, artificial or prerecorded voice messages and automatic
        dialing technology, for all purposes not prohibited by applicable law. Message and data rates may apply. You may
        contact us anytime to change these preferences. We may also send an e-mail to any address where we reasonably believe
        we can contact you. Some of the purposes for calls and messages include: suspected fraud; obtaining information;
        administration of your account; and collection of premiums. Our rights under this Section extend to our affiliates,
        subsidiaries, parents and agents. To permanently cease receiving text messages from us, please reply STOP to any
        message we send. </p>
    <p>MISCELLANEOUS</p>
    <p>GOVERNING LAW, JURISDICTION AND VENUE</p>
    <p>These Terms and all other aspects of your use of the Site shall be governed by and construed in accordance with the laws
        of the United States and, to the extent applicable, to the laws of the State of North Carolina, without giving effect
        to its conflicts of laws rules. </p>

    <p>You agree that you will notify us in writing by e-mail <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a>        of any claim or dispute concerning or relating to the Site and the information, products and services provided through
        the Site, and give us a reasonable period of time to address your claim or dispute before bringing any legal action
        against us. Except for proceedings commenced by us to protect our intellectual property or confidential information
        which may be brought in any court of competent jurisdiction, you and we mutually agree that any and all disputes
        arising hereunder shall be resolved exclusively by state and federal courts located in Wake County, North Carolina.
        </p>
    <p>NOTICES</p>
    <p>If you have registered for an account through the Site, we will notify you of any material changes to these Terms by
        using any of the contact information you have provided to us or by posting a message on the Site’s home page. In
        addition, we will update the “last modified” date at the bottom of this page. </p>
    <p>GENERAL PROVISIONS</p>
    <p>These Terms shall be subject to any other agreements you have entered into with us. In the event of a conflict between
        these Terms and any insurance policy issued to you through the Site, the terms of the insurance policy shall control.
        These Terms supersede any previous Terms to which you and we may have been bound. If any provision of these Terms
        is found to be invalid or unenforceable, the remaining provisions shall be enforced to the fullest extent possible,
        and the remaining provisions of these Terms shall remain in full force and effect. These Terms will be binding on,
        inure to the benefit of, and be enforceable against you and us and their respective successors and assigns. Neither
        the course of conduct between you and us nor trade practice shall act to modify any provision of these Terms. All
        rights not expressly granted herein are hereby reserved. Headings are for reference purposes only and in no way define,
        limit, construe or describe the scope or extent of such section. Failure by us to enforce any of our rights under
        these Terms shall not be construed as a waiver of those rights or any other rights in any way whatsoever. </p>
    <p>CONTACTING US</p>
    <p>If you have any questions regarding these Terms or our practices, please contact us by e-mail <a href=mailto:hello@bequestlife.com>hello@bequestlife.com</a></p>
    <i>These terms were last modified on September 1, 2017. </i>

</div>