<div layout="row" layout-sm="row" layout-xs="column" flex="100">
  <div class="block" flex-offset="15" flex-offset-sm="5" flex-offset-xs="0" layout="column" flex="70" flex-sm="90" flex-xs="100">
    
    <div class="footer">
      <div class="block margin-bottom-30" layout="row" layout-align="center" layout-xs="column" flex="100">
        <a href="/">About</a>
        <a href="https://medium.com/@bequest" target="_blank">Blog</a>
        <a href="/">Learn</a>
        <a href="/">Press</a>
        <!-- <a href="/">Support</a> -->
        <a href="/">Contact</a>
        <a href="/">Terms</a>
        <a href="/">Privacy</a>
      </div>

      <div class="block margin-bottom-30" layout="row" layout-align="center center" layout-xs="column" flex="100">
        <p>© 2017 Bequest Life Inc Operating with 
            <img class="img-footer-heart" src="/insurance/onboarding/img/heart.png"> 
            in 
            <img class="img-footer-nc" src="/insurance/onboarding/img/nc.png">
          </p>
      </div>

      <div class="block margin-bottom-30" layout="row" layout-align="center center" layout-xs="column" flex="100">
        <ng-md-icon icon="facebook-box" class="img-footer"></ng-md-icon>
        <ng-md-icon icon="twitter" class="img-footer"></ng-md-icon>
        <ng-md-icon icon="linkedin-box" class="img-footer"></ng-md-icon>
      </div>

      <!-- <div class="text-left" layout="row" layout-align="center center" layout-xs="column" flex="100">
    <div flex="100">
      <i>Coverage may not be available in all states. Issuance of coverage for Bequest Life insurance is subject to underwriting review and approval. Please see a copy of the policy for the full terms, conditions and exclusions. Bequest Life Inc (FIA) is an insurance agency licensed to sell life insurance products. The NAIC Company Code for Bequest Life is XXXXX. See the Terms of Use for additional information regarding FIA.‬‬</i>
    </div>
  </div> -->

    </div>
  </div>

  <div flex></div>
</div>