<div class="footer">
  <div class="margin-bottom-50" layout="row" layout-xs="column" flex="100">

    <div class="block" layout="column" flex="33" flex-xs="100">
      <a href="/about">About Us</a>
      <a href="/nation">Availability</a>
      <a href="https://blog.bequestlife.com" target="_blank">Blog</a>
    </div>

    <div class="block" layout="column" flex="33" flex-xs="100">
      <a href="/learn">FAQ</a>
      <a href="/terms">Terms of Use</a>
      <a href="/privacy">Privacy Policy</a>
    </div>

    <div class="block" layout="column" flex="33" flex-xs="100">
      <a href="mailto:hello@bequestlife.com">Contact Us</a>
      <a class="img-footer" href="" target="_blank">
          <ng-md-icon icon="facebook-box"></ng-md-icon>
        </a>
        <a class="img-footer" href="https://twitter.com/BequestLife" target="_blank">
          <ng-md-icon icon="twitter"></ng-md-icon>
        </a>
        <a class="img-footer" href="" target="_blank">
          <ng-md-icon icon="linkedin-box"></ng-md-icon>
        </a>
    </div>

    <!-- <div class="text-left" layout="row" layout-align="center center" layout-xs="column" flex="100">
        <div flex="100">
          <i>Coverage may not be available in all states. Issuance of coverage for Bequest Life insurance is subject to underwriting review and approval. Please see a copy of the policy for the full terms, conditions and exclusions. Bequest Life Inc (FIA) is an insurance agency licensed to sell life insurance products. The NAIC Company Code for Bequest Life is XXXXX. See the Terms of Use for additional information regarding FIA.‬‬</i>
        </div>
      </div> -->

  </div>

  <div layout="row" layout-xs="column" flex="100">
    <div class="block" layout="column" flex="100">
      <p>© 2017 Bequest Life Inc Operating with
        <img class="img-footer-heart" src="/insurance/onboarding/img/heart.png"> in
        <img class="img-footer-nc" src="/insurance/onboarding/img/nc.png">
      </p>
    </div>
  </div>

</div>