<div class="header">

  <a href="/" class="header-logo">
    <img src="/insurance/onboarding/img/bequest_favicon.png">
  </a>
  <a href="/login" class="header-link">Log In</a>
  <a href="/insurance/apply" class="header-link">Apply</a>

  <input id="menu" type="checkbox" />

  <label for="menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="/learn">Learn</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

</div>