.header
  %a.header-logo{:href => "/"}
    = image_tag("/insurance/onboarding/img/bequest_logo.png")
    / %img{:src => "/insurance/onboarding/img/bequest_logo.png"}/
  %a.header-link{:href => "/insurance/apply"} Get Coverage
  %a.header-link{:href => "/learn"} Learn
  / <a ui-sref="compare" class="header-link">Compare</a>
  %a.header-link{:href => "/blog"} Blog
