<div class="header">

  <a href="/" class="header-logo">
    <%= image_tag("/insurance/onboarding/img/bequest_favicon.png")%>
  </a>

  <!-- <a href="/users/sign_up" class="header-link">Log In</a>
  <a href="/insurance/apply" class="header-link">Apply</a> -->

  <input id="menu" type="checkbox" />

  <label for="menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="navigation">
    <ul class="menu">
      <li class="li"><a href="/about">About</a></li>
      <li class="li"><a href="https://medium.com/@bequest" target="_blank">Blog</a></li>
      <li class="li"><a href="/nation" target="_blank">Availability</a></li>
      <!-- <li class="li"><a href="/learn">Learn</a></li> -->
      <!-- <li class="li"><a href="/">Support</a></li> -->
      <li class="li"><a href="mailto:hello@bequestlife.com">Contact</a></li>
    </ul>
  </nav>

</div>
