<div class="header">

  <a href="/" class="header-logo">
    <%= image_tag("/insurance/onboarding/img/bequest_favicon_black.png")%>
  </a>

  <a hide-xs href="/" class="header-link">Log In</a>

  <input id="menu" type="checkbox" />

  <label for="menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="navigation">
    <ul class="menu">
      <li hide-gt-xs class="li"><a href="/">Log In</a></li>
      <li class="li"><a href="/about">About Us</a></li>
      <li class="li"><a href="https://blog.bequestlife.com" target="_blank">Blog</a></li>
      <li class="li"><a href="/nation" target="_blank">Availability</a></li>
      <li class="li"><a href="/learn">FAQ</a></li>
      <li class="li"><a href="mailto:hello@bequestlife.com">Contact Us</a></li>
    </ul>
  </nav>

</div>
