.header
  / .header-logo{"ui-sref" => "landing"}
  %a.header-logo{:href => root_path}
    %img{:src => "/onboarding/img/bdi-logo.png"}/
  %a.header-link{"ui-sref" => "apply"} Get Coverage
  %a.header-link{"ui-sref" => "learn"} Learn
  %a.header-link{"ui-sref" => "compare"} Compare
  %a.header-link{"ui-sref" => "blog"} Blog
